{% extends "base.html" %}

{% block content %}
		{% for notification in notifications %}
			<a href="{{ notification.notification.status.base_url }}{{ notification.notification.user.slug }}" target="_blank"  data-notification-id="{{notification.id}}"><div class="{% if notification.boolean %} background-msmi-blue {% else %} background-msmi-green {% endif %} notification-padding row"> {{ notification.notification.status }} <b>({{ notification.notification.user }}) at {{ notification.notification.date_time_created }}</b> <button type="button" class="close notification-close event-prevent-default" data-notification-id="{{notification.id}}">&times;</button></div></a>
		{% endfor %}
{% endblock %}