{% load static %}
{% load widget_tweaks %}
{% load get_data %}      


{% if ajax_submit_flag %}
  <div class="form-group">
    <div class="errorlist-group panel-msmi-green mariner-profile-updated-padding">
      <!-- <ul class="errorlist"> -->
        <h3 class="msmi-green-color" style="margin-top:10px;"><img src="{% static 'img/finish.png' %}" width="50px">  SAVED</h3>  
      <!-- </ul> -->
    </div>  
  </div>
{% endif %}

<div class="total-forms">{{ beneficiary_form.management_form }}</div>
<span><button style="margin-top: 20px;" class="btn btn-warning add-mariner add-more-fields-2">ADD</button></span>
{% for beneficiary_forms in beneficiary_form %}

<div class="panel-body">
  {{ beneficiary_forms.id }}
  {{ beneficiary_forms.user }}                      
  <!-- <a data-toggle="collapse" data-parent="#accordion" href="#benefit{{forloop.counter}}" aria-expanded="false"><p><strong>{% if beneficiary_forms.beneficiary_first_name.value %}{{ beneficiary_forms.beneficiary_first_name.value|upper }}{% endif %}  {% if beneficiary_forms.beneficiary_middle_name.value %} {{ beneficiary_forms.beneficiary_middle_name.value|upper }} {% endif %} {% if beneficiary_forms.beneficiary_last_name.value %} {{ beneficiary_forms.beneficiary_last_name.value|upper }} {% endif %}</strong></p></a> -->
  <a data-toggle="collapse" data-parent="#accordion" href="#benefit{{forloop.counter}}" aria-expanded="false"><p><strong>Beneficiary # {{ forloop.counter }}</strong></p></a> 
  <div class="panel-body">
    <div id="benefit{{forloop.counter}}" class="panel-collapse collapse in" aria-expanded="false">
      <div class="row adding-row">
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">Last name:</label>
            {{ beneficiary_forms.beneficiary_last_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">First name:</label>
            {{ beneficiary_forms.beneficiary_first_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">Middle Name:</label>
            {{ beneficiary_forms.beneficiary_middle_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
      </div><!--End of Row-->
          
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-addon input-label">Relationship:</label>
            {{ beneficiary_forms.beneficiary_relationship|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-addon input-label">Contact Nos.:</label>
            {% if beneficiary_forms.beneficiary_number.value|slugify|length_is:"10" %} <h3 class="input-group-addon area-code-addon">(+63)</h3> {% endif %}
            {{ beneficiary_forms.beneficiary_number|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-addon input-label">Birthday:</label>
            {{ beneficiary_forms.beneficiary_birth_date|add_class:"form-control input-form date birth_date required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-addon input-label">Age:</label>
            <input type="text" class="form-control input-form age-identifier age" disabled="">
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
      </div><!--End of Row-->
    </div><!--End of Collapse-->
  </div>
</div><!--End of Panel Body-->
{% endfor %}
