{% load static %}
{% load widget_tweaks %}
{% load get_data %}      


{% if ajax_submit_flag %}
  <div class="form-group">
    <div class="errorlist-group panel-msmi-green mariner-profile-updated-padding">
      <!-- <ul class="errorlist"> -->
        <h3 class="msmi-green-color" style="margin-top:10px;"><img src="{% static 'img/finish.png' %}" width="50px">  UPDATED</h3>  
      <!-- </ul> -->
    </div>  
  </div>
{% endif %}
<div class="panel-body">
{{ beneficiary_form.management_form }}
{% for beneficiary_forms in beneficiary_form %}
  {{ beneficiary_forms.id }}
  {{ beneficiary_forms.user }}                      
  <a data-toggle="collapse" data-parent="#accordion" href="#benefit{{forloop.counter}}" aria-expanded="false"><p><strong>{% if beneficiary_forms.beneficiary_first_name.value %}{{ beneficiary_forms.beneficiary_first_name.value|upper }}{% endif %}  {% if beneficiary_forms.beneficiary_middle_name.value %} {{ beneficiary_forms.beneficiary_middle_name.value|upper }} {% endif %} {% if beneficiary_forms.beneficiary_last_name.value %} {{ beneficiary_forms.beneficiary_last_name.value|upper }} {% endif %}</strong></p></a> 
  <div class="panel-body">
    <div id="benefit{{forloop.counter}}" class="panel-collapse collapse in" aria-expanded="false">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">Last name:</label>
            {{ beneficiary_forms.beneficiary_last_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">First name:</label>
            {{ beneficiary_forms.beneficiary_first_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">Middle Name:</label>
            {{ beneficiary_forms.beneficiary_middle_name|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 4-->
      </div><!--End of Row-->
          
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <label class="input-group-addon input-label">Relationship:</label>
            {{ beneficiary_forms.beneficiary_relationship|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 6-->
        <div class="col-md-6">
          <div class="input-group">
            <label class="input-group-addon input-label">Contact Nos.:</label>
            {% if beneficiary_forms.beneficiary_number.value|slugify|length_is:"10" %} <h3 class="input-group-addon area-code-addon">(+63)</h3> {% endif %}
            {{ beneficiary_forms.beneficiary_number|add_class:"form-control input-form required" }}
          </div><!--End of Input Group-->
        </div><!--End of Col 6-->
      </div><!--End of Row-->
    </div><!--End of Collapse-->
  </div>
{% endfor %}
</div><!--End of Panel Body-->