{% load static %}
{% load widget_tweaks %}
{% load get_data %}   

{% if ajax_submit_flag %}
  <div class="form-group">
    <div class="errorlist-group panel-msmi-green mariner-profile-updated-padding">
      <!-- <ul class="errorlist"> -->
        <h3 class="msmi-green-color" style="margin-top:10px;"><img src="{% static 'img/finish.png' %}" width="50px">  SAVED</h3>  
      <!-- </ul> -->
    </div>  
  </div>
{% endif %}

<div class="total-forms">{{ dependents_form.management_form }}</div>
<span><button class="btn btn-warning add-mariner add-more-fields-2" style="margin-bottom:10px;">ADD</button></span>
{% for dependents_forms in dependents_form %}
  
  <div class="panel-body">
  {{ dependents_forms.id }}
  {{ dependents_forms.user }}
    <!-- <p><strong>{{ dependents_forms.dependent_first_name.value|upper }} {{ dependents_forms.dependent_middle_name.value|upper }} {{ dependents_forms.dependent_last_name.value|upper }}</strong></p> -->
    <p><strong>Dependent # {{forloop.counter}}</strong></p>
      <div class="panel-body">
        <div class="row adding-row">
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Last Name:</label>
              {{ dependents_forms.dependent_last_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">First Name:</label>
              {{ dependents_forms.dependent_first_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Middle Name:</label>
              {{ dependents_forms.dependent_middle_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->

          <div class="col-md-3">
            <div class="input-group">
              <label class="input-group-addon input-label">Relationship:</label>
              {{dependents_forms.dependent_relationship|add_class:"form-control input-form required"}}
            </div><!--End of Input Group-->
          </div><!--End of Col 3-->
          <div class="col-md-3">
            <div class="input-group">
              <label class="input-group-addon input-label">Contact Nos.:</label>
              {% if dependents_forms.dependent_contact.value|slugify|length_is:"10" %} <h3 class="input-group-addon area-code-addon">(+63)</h3> {% endif %}
              {{dependents_forms.dependent_contact|add_class:"form-control input-form required"}}
            </div><!--End of Input Group-->
          </div><!--End of Col 3-->
          <div class="col-md-3">
            <div class="input-group">
              <label class="input-group-addon input-label">Birthday:</label>
              {{dependents_forms.dependent_birth_date|add_class:"form-control input-form date birth_date required"}}
            </div><!--End of Input Group-->
          </div><!--End of Col 3-->
          <div class="col-md-3">
            <div class="input-group">
              <label class="input-group-addon input-label">Age:</label>
              <input type="text" class="form-control input-form age" disabled="">
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->

          <div class="col-md-6 padding-right-negator">
            <div class="input-group">
              <label class="input-group-addon input-label">Unit / Lot / House:</label>
              {{ dependents_forms.dependent_unit|add_class:"form-control input-form" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-6">
            <div class="input-group">
              <label class="input-group-addon input-label">Street / Subdivision:</label>
              {{ dependents_forms.dependent_street|add_class:"form-control input-form" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Barangay:</label>
              <input class=" autocomplete vTextField autocomplete-light-text-widget form-control input-form" data-autocomplete-choice-selector="[data-value]" data-autocomplete-url="/autocomplete/BarangayAutocomplete/" data-widget-bootstrap="text" id="id_dependents_set-{{ forloop.counter0 }}-dependent_barangay" name="dependents_set-{{ forloop.counter0 }}-dependent_barangay" type="text" autocomplete="off" data-widget-ready="1" value="{{ dependents_forms.dependent_zip.value|get_data_field:'Zip,barangay' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Municipality:</label>
              <input class="autocomplete vTextField autocomplete-light-text-widget form-control input-form" data-autocomplete-choice-selector="[data-value]" data-autocomplete-url="/autocomplete/MunicipalityAutocomplete/" data-widget-bootstrap="text" id="id_dependents_set-{{ forloop.counter0 }}-dependent_municipality" name="dependents_set-{{ forloop.counter0 }}-dependent_municipality" type="text" autocomplete="off" data-widget-ready="1" title="" data-original-title="" value="{{ dependents_forms.dependent_zip.value|get_data_field:'Zip,municipality' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">ZIP Code:</label>
              <input class="form-control input-form" id="id_dependents_set-{{ forloop.counter0 }}-dependent_zip" min="0" name="dependents_set-{{ forloop.counter0 }}-dependent_zip" type="number" value="{{ dependents_forms.dependent_zip.value|get_data:'Zip' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
        </div><!--End of Row-->
      </div>
  </div>
{% endfor %}