{% load static %}
{% load widget_tweaks %}
{% load get_data %}   

{% if ajax_submit_flag %}
  <div class="form-group">
    <div class="errorlist-group panel-msmi-green mariner-profile-updated-padding">
      <!-- <ul class="errorlist"> -->
        <h3 class="msmi-green-color" style="margin-top:10px;"><img src="{% static 'img/finish.png' %}" width="50px">  SAVED</h3>  
      <!-- </ul> -->
    </div>  
  </div>
{% endif %}

<!-- <div class="total-forms">{{ emergency_contact_form.management_form }}</div> -->
<!-- <span><button style="margin-top: 20px;" class="btn btn-warning add-mariner add-more-fields-2">ADD</button></span> -->

<div class="panel-body">
<!-- <div class="total-forms">{{ emergency_contact_form.management_form }}</div> -->
{% for emergency_contact_forms in emergency_contact_form %}
      {{ emergency_contact_forms.id }}
      {{ emergency_contact_forms.user }}              
      <!-- <p><strong>{% if emergency_contact_forms.emergency_first_name.value %}{{ emergency_contact_forms.emergency_first_name.value|upper }}{% endif %}  {% if emergency_contact_forms.emergency_middle_name.value %} {{ emergency_contact_forms.emergency_middle_name.value|upper }} {% endif %} {% if emergency_contact_forms.emergency_last_name.value %} {{ emergency_contact_forms.emergency_last_name.value|upper }} {% endif %}  {% if emergency_contact_forms.relationship.value %}(<i>{{ emergency_contact_forms.relationship.value|get_data:'Relationship'|upper }}</i>){% endif %}</strong></p> -->
      <p><strong>Emergency Contact # {{ forloop.counter }}</strong></p>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Last Name:</label>
              {{ emergency_contact_forms.emergency_last_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">First Name:</label>
              {{ emergency_contact_forms.emergency_first_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Middle Name:</label>
              {{ emergency_contact_forms.emergency_middle_name|add_class:"form-control input-form required" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
        </div><!--End of Row-->                        

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <label class="input-group-addon input-label">Relationship:</label>
              {{emergency_contact_forms.relationship|add_class:"form-control input-form required"}}
            </div><!--End of Input Group-->
          </div><!--End of Col 3-->
          <div class="col-md-6">
            <div class="input-group">
              <label class="input-group-addon input-label">Contact Nos.:</label>
              {% if emergency_contact_forms.emergency_contact.value|slugify|length_is:"10" %} <h3 class="input-group-addon area-code-addon">(+63)</h3> {% endif %}
              {{emergency_contact_forms.emergency_contact|add_class:"form-control input-form required"}}
            </div><!--End of Col 3-->
          </div><!--End of Input Group-->
        </div><!--End of Row-->
              
        <div class="row">
          <div class="col-md-6 padding-right-negator">
            <div class="input-group">
              <label class="input-group-addon input-label">Unit / Lot / House:</label>
              {{ emergency_contact_forms.emergency_unit|add_class:"form-control input-form" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-6">
            <div class="input-group">
              <label class="input-group-addon input-label">Street / Subdivision:</label>
              {{ emergency_contact_forms.emergency_street|add_class:"form-control input-form" }}
            </div><!--End of Input Group-->
          </div><!--End of Col 4-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Barangay:</label>
              <input class="form-control input-form autocomplete vTextField autocomplete-light-text-widget" data-autocomplete-choice-selector="[data-value]" data-autocomplete-url="/autocomplete/BarangayAutocomplete/" data-widget-bootstrap="text" id="id_emergencycontact_set-{{ forloop.counter0 }}-emergency_barangay" name="emergencycontact_set-{{ forloop.counter0 }}-emergency_barangay" type="text" autocomplete="off" data-widget-ready="1" value="{{ emergency_contact_forms.emergency_zip.value|get_data_field:'Zip,barangay' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">Municipality:</label>
              <input class="form-control input-form autocomplete vTextField autocomplete-light-text-widget" data-autocomplete-choice-selector="[data-value]" data-autocomplete-url="/autocomplete/MunicipalityAutocomplete/" data-widget-bootstrap="text" id="id_emergencycontact_set-{{ forloop.counter0 }}-emergency_municipality" name="emergencycontact_set-{{ forloop.counter0 }}-emergency_municipality" type="text" autocomplete="off" data-widget-ready="1" title="" data-original-title="" value="{{ emergency_contact_forms.emergency_zip.value|get_data_field:'Zip,municipality' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-addon input-label">ZIP Code:</label>
              <input class="form-control input-form" id="id_emergencycontact_set-{{ forloop.counter0 }}-emergency_zip" min="0" name="emergencycontact_set-{{ forloop.counter0 }}-emergency_zip" type="number" value="{{ emergency_contact_forms.emergency_zip.value|get_data:'Zip' }}">
            </div><!--End of Input Group-->
          </div><!--End of Col 2-->
        </div><!--End of Row-->
      </div> 
{% endfor %}             
</div><!--End of Panel Body-->