{% load static %}
{% load widget_tweaks %}
{% load get_data %}      

{% if ajax_submit_flag %}
  <div class="form-group">
    <div class="errorlist-group panel-msmi-green mariner-profile-updated-padding">
      <!-- <ul class="errorlist"> -->
        <h3 class="msmi-green-color" style="margin-top:10px;"><img src="{% static 'img/finish.png' %}" width="50px">  SAVED</h3>  
      <!-- </ul> -->
    </div>  
  </div>
{% endif %}

<!-- <div class="panel-body"> -->
  <!-- <p><strong>NOTE:</strong>&nbsp;<i>Please Take note that everytime the status is changed it will be recorded in the history status below.</i></p> -->
  <div class="panel-body">
    <div class="col-md-3 col-laptop-6">
      <div class="input-group">
        <label class="input-group-addon input-label">Principal:</label>
        {{ mariner_status_form.mariner_principal|add_class:"form-control input-form required first-choice" }}
      </div>
    </div>
    <div class="col-md-4 col-laptop-6">
      <div class="input-group">
        <label class="input-group-addon input-label">Status:</label>
        {{ mariner_status_form.mariner_status|add_class:"form-control input-form required" }}
      </div>
    </div>
    <div class="col-md-3 col-laptop-6">
      <div class="input-group">
        <label class="input-group-addon input-label">Since:</label>
        {{ mariner_status_form.since|add_class:"form-control input-form date required" }}
      </div>
      <div class="input-group {{ visibility_parameter }}">
        <label class="input-group-addon input-label">Until:</label>
        {{ mariner_status_form.until|add_class:"form-control input-form date" }}
      </div>
    </div>
    <div class="col-md-2 col-laptop-6">
      <div class="input-group">
        <label class="input-group-addon input-label">Days:</label>
        <input class="form-control input-form" disabled value="{{ current_history.days }}">
      </div>
    </div>
    <!-- <div class="col-md-12">
      <div class="input-group">
        <label class="input-group-addon input-label">Additional Status Comments:</label>
        {{ mariner_status_form.mariner_status_comment|add_class:"form-control input-form" }}
      </div>
    </div> -->
  </div>

  {{ mariner_status_form.updated_by|add_class:"hide" }}
  {{ mariner_status_form.user|add_class:"hide" }}
<!-- </div> --><!--End of Panel Body-->