{% load static %}
{% load widget_tweaks %}
{% load get_data %}      

<div class="form-group">
    <div class="errorlist-group" style="padding: 10px; border: 2px solid #02be9b">
      <!-- <ul class="errorlist"> -->
        <h3 style="margin-top:10px; color:#02be9b"><img src="{% static 'img/finish.png' %}" width="50px">  UPDATED</h3>  
      <!-- </ul> -->
    </div>  
  </div>

<div class="panel-body">
      <div class="col-md-12">
        <p style="color: #00aeef;"><strong>NOTE:</strong>&nbsp;<i>Please Take note that everytime the status is changed it will be recorded in the history status below.</i></p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group form-group">
            <label class="input-group-addon input-label">Principal:</label>
            {{ mariner_status_form.mariner_principal|add_class:"form-control input-form" }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <label class="input-group-addon input-label">Status:</label>
            {{ mariner_status_form.mariner_status|add_class:"form-control input-form" }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-addon input-label">Since:</label>
            {{ mariner_status_form.since|add_class:"form-control input-form date" }}
          </div>
          <div class="input-group">
            <label class="input-group-addon input-label">Until:</label>
            {{ mariner_status_form.until|add_class:"form-control input-form date" }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <label class="input-group-addon input-label">Days:</label>
            <input class="form-control input-form" value="{{ current_history.days }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <label class="input-group-addon input-label">Additional Status Comments:</label>
            <!-- <textarea class="form-control input-form"></textarea> -->
            {{ mariner_status_form.mariner_status_comment|add_class:"form-control input-form" }}
          </div>
        </div>
      </div>

      {{ mariner_status_form.updated_by|attr:"style: display:none" }}
      {{ mariner_status_form.user|attr:"style: display:none" }}

      {% if histories %}
        <a data-toggle="collapse" data-parent="#accordion" href="#history-status" aria-expanded="false" style="color: #fff; text-decoration: none;"><p  style="margin-top: 20px; margin-bottom:0px; background: #02be9b; color: #fff; padding: 10px;"><strong>History Status</strong></p></a>
        <div class ="panel-collapse collapse" aria-expanded="false" id="history-status">
          <div class="panel-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover sea-tb main-table">
                  <thead class="thead">
                    <tr>
                      <!-- <th></th> -->
                      <th>Updated By</th>
                      <th>Updated On</th>
                      <th>Principal</th>
                      <th>Status</th>
                      <th>Since</th>
                      <th>Until</th>
                      <th>Days</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for history in histories %}
                      <tr>
                        <!-- <td><button class="btn btn-danger form-control">Delete</button></td> -->
                        <td>{% if history.updated_by.code %} {{ history.updated_by.code }} {% else %} {{ history.updated_by }} {% endif %}</td>
                        <td>{{ history.updated_on }}</td>
                        <td>{{ history.mariner_principal }}</td>
                        <td>{{ history.mariner_status }}</td>
                        <td>{{ history.since }}</td>
                        <td>{{ history.until }}</td>
                        <td>{{ history.days }}</td>
                        <td><button class="btn btn-warning form-control mariner-history-status-comments" data-comments="{{history.str_mariner_status_comment}}">Comments</button></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      </div><!--End of Panel Body-->