{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>

.panel-msmi {
  margin-bottom: 20px;
  background-color: #fff;
  border: none !important;
  border-radius: none !important; 
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
    
}

#header{
  background: #2e76b8;
  color: #fff;
  padding: 30px;
  }
.tooltip-left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}
.main-menu{
  padding-top: 30px;
  padding-bottom: 30px;
  }
.input-label{
  color: #2e76b8;
  } 
.input-form{
  border: 2px solid #02be9b;
  }   
.main-table {
  border: 1px solid #02be9b;
  font-size: 12px;
}
.main-table > thead > tr > th,
.main-table > tbody > tr > th,
.main-table > tfoot > tr > th,
.main-table > thead > tr > td,
.main-table > tbody > tr > td,
.main-table > tfoot > tr > td {
  border: 1px solid #02be9b;  
}
.main-table > thead > tr > th,
.main-table > thead > tr > td {
  border-bottom-width: 2px;
} 
.btn-main{
  font-size: 12px;
  }
.btn{
  border: 1px solid transparent !important; 
  }
.thead{
  background: #82ca9c; 
  color: #fff;"
  }
.container-picture{
  }
.input-group-addon{
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;  
  }
.input-group{
  margin-top: 10px; 
  } 
.panel-heading{
  border-bottom: 4px solid #04508e;
  }
#main-header{
  text-align: center !important;
  margin-top: 20px;
  }
  
/* Button Custom */

.btn-msmi  {
  color: #fff;
  background-color: #82ca9c;
  margin-top: 5px;
  width: 100%;
  border-bottom: 4px solid #02be9b !important;
}
.btn-msmi:focus,
.btn-msmi.focus {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
  border-radius: none !important;
  border-bottom: 1px solid #02be9b !important;
}
.btn-msmi:hover {
  color: #fff;
  background-color: #82ca9c;
  border-radius: none !important;
  border-color: #82ca9c;   
}

/* Custom Panel */
.panel-msmi-blue{
  border-color: #2e76b8;
    border-top-left-radius: none !important;
  border-top-right-radius: none !important; 
  border-bottom: 5px solid #04508e;
}
.panel-msmi-blue > .panel-heading {
  color: #fff;
    border-top-left-radius: none !important;
  border-top-right-radius: none !important; 
  background-color: #2e76b8;
  border-color: 1px solid #2e76b8;
}
.panel-msmi-blue > .panel-heading + .panel-collapse > .panel-body {
  border-color: 1px solid #2e76b8;
    border-top-left-radius: none !important;
  border-top-right-radius: none !important; 
}
.panel-msmi-blue > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-msmi-blue > .panel-footer + .panel-collapse > .panel-body-green {
  border-color: 1px solid 2e76b8;
}
.coc{
  border: 2px solid #2e76b8;
  padding: 20px;
}

</style>
<body>

<div id="wrapper">
  <div id="header">
    <div class="container">
          <p class="pull-left"><img src="{% static 'img/application-form-logos/athenian.png' %}" width="150" height="150"></p>
          <h1 style="padding-left:170px; margin-top: 40px;"><strong>PSV Hellespont Daring GmbH & Co. KG Application Form</strong></h1>
          <h4 style="padding-left:170px;">General Mariner Information Guide</h4>
    </div><!---End of Container-->
  </div><!--End of Header-->
    
   
    
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-1">
            
        <!--<div id="main-header">
            <label class="input-label">IONIC SHIPPING (MGT) INC. BULKER FLEET MANUAL<br>
            [CREW] CONFIDENTIAL: INTERVIEW RECORDS<br>
            VERSION (revXXX / XXXX-XX-XX) CHECKLIST: 403 Mod: XXXX-XX-XX sec: 3.04.3</label><br>         
        </div>-->
            
<!--Personal Data
==========================================-->
<div id="step1" class="panel-msmi panel-msmi-blue" style="margin-top: 20px;">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail1" aria-expanded="false" style="color: #fff; text-decoration: none;"><strong>PERSONAL DATA</strong></div>
    <div id="detail1" class="panel-collapse collapse in" aria-expanded="true">              
      <div class="panel-body">
        <div class="form-group">
    
                         <div class="row">
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Last Name:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{user_profile.last_name}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">First Name:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{user_profile.first_name}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                         <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Middle Name:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{user_profile.middle_name}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                         </div><!--End of Row-->
                         
                         <div class="row">
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Date of Birth:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{personal_data.birth_date}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Place of Birth:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{personal_data.birth_place}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                         <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Age:</span>
                  <input type="text" readonly class="form-control input-form"  value="{{personal_data.age}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                         </div><!--End of Row-->

                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group">
                        <span class="input-group-addon input-label">Marital Status:</span>
                        <input type="text" readonly class="form-control input-form"  value="{{personal_data.civil_status}}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-6">
                            <div class="input-group">
                        <span class="input-group-addon input-label">Nationality:</span>
                        <input type="text" readonly class="form-control input-form"  value="{{personal_data.nationality}}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                        </div>
                         
                         
                    
      </div><!--End of Form Group-->
          
          <p style="background: #02be9b; padding: 10px; color:#fff; margin-bottom:0px;"><strong>HOME ADDRESS</strong></p>
          <div class="panel-body"> 
                <div class="row">
                            <div class="col-md-2 padding-right-negator">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Unit:</label>
                              <input type="text" readonly class="form-control input-form" value="{{ current_address.current_unit }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Street:</label>
                          <input type="text" readonly class="form-control input-form" value="{{ current_address.current_street }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Barangay:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip.barangay }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Municipality:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip.municipality }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">ZIP Code:</label>
                                   <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip }}"> 
                            </div>
                            </div>
                        </div><!--End of Row-->
                        
                        <div class="row">
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Mobile No.:</span>
                  <input type="text" readonly class="form-control input-form" value="{{ personal_data.prefix_mobile_1 }}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Telephone No.:</span>
                  <input type="text" readonly class="form-control input-form" value="{{ personal_data.landline_1 }}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">E-mail:</span>
                  <input type="text" readonly class="form-control input-form" value="{{ personal_data.email_address_1 }}" style="text-transform: lowercase">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                         </div><!--End of Row-->                

          </div><!--End of Panel Body-->


          <p style="background: #02be9b; padding: 10px; color:#fff; margin-bottom:0px;"><strong>NAME OF KIN (Relationship)</strong></p>
          {% for emergency_contacts in emergency_contact %}
          <div class="panel-body">
          <p style="background: #a3d39c; padding: 10px; color:#fff; margin-bottom:0px;"><strong>{% if emergency_contacts.emergency_first_name %}{{ emergency_contacts.emergency_first_name|upper }}{% endif %}  {% if emergency_contacts.emergency_middle_name %} {{ emergency_contacts.emergency_middle_name|upper }} {% endif %} {% if emergency_contacts.emergency_last_name %} {{ emergency_contacts.emergency_last_name|upper }} {% endif %}  {% if emergency_contacts.relationship %}(<i>{{ emergency_contacts.relationship }}</i>){% endif %}</strong></p>
          <div class="panel-body"> 
                <div class="row">
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Last Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_last_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">First Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_first_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Middle Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_middle_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                          </div><!--End of Row-->                        



                            <div class="row">
                                  <div class="col-md-6">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Relationship:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.relationship }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 3-->
                                  <div class="col-md-6">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Contact Nos.:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.prefix_emergency_contact }}">
                                  </div><!--End of Col 3-->
                    </div><!--End of Input Group-->
                            </div><!--End of Row-->
                                  
                             <div class="row">
                                  <div class="col-md-2 padding-right-negator">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Unit:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_unit }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Street:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_street }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Barangay:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_zip.barangay }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Municipality:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_zip.municipality }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">ZIP Code:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_zip }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                          </div><!--End of Row-->
                
          </div><!--End of Panel Body-->
        </div>
        {% endfor %}
        <p style="background: #02be9b; padding: 10px; color:#fff; margin-bottom:0px;"><strong>CHILDREN NAME / DATE OF BIRTH</strong></p>
        <div class="panel-body">
          <p style="background: #a3d39c; padding: 10px; color:#fff; margin-bottom:0px;"><strong>CHILDREN NAME</strong></p>
        <div class="panel-body"> 
                <div class="row">
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Last Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_last_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">First Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_first_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-4">
                            <div class="input-group">
                        <label class="input-group-addon input-label">Middle Name:</label>
                         <input type="text" readonly class="form-control input-form" value="{{ emergency_contacts.emergency_middle_name }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                          </div><!--End of Row-->             
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="input-group-addon input-label">Date of Birth:</label>
                      <input type="text" readonly class="form-control input-form">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="input-group-addon input-label">Place of Birth:</label>
                      <input type="text" readonly class="form-control input-form">
                    </div>
                  </div>
                </div>
        </div>
        </div>
    </div><!--End of Panel Body-->
  </div><!--End of Collapse-->
</div><!--End of Panel-Primary-->
                       
<!--Contact Details
============================-->            
<div id="step2" class="panel-msmi panel-msmi-blue" style="margin-top: 10px;">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail2"   aria-expanded="true" style="color: #fff; text-decoration: none;"><strong>CONTACT DETAILS</strong></a></div>
    <div id="detail2" class="panel-collapse collapse" aria-expanded="false"> 
      <div class="panel-body"> 
                  <label class="input-label">HOME ADDRESS</label>
                  <div class="row">
                            <div class="col-md-2 padding-right-negator">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Unit:</label>
                              <input type="text" readonly class="form-control input-form" value="{{ current_address.current_unit }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Street:</label>
                          <input type="text" readonly class="form-control input-form" value="{{ current_address.current_street }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 4-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Barangay:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip.barangay }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-3">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">Municipality:</label>
                        <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip.municipality }}">
                    </div><!--End of Input Group-->
                                  </div><!--End of Col 2-->
                                  <div class="col-md-2">
                            <div class="input-group">
                                    <label class="input-group-addon input-label">ZIP Code:</label>
                                   <input type="text" readonly class="form-control input-form" value="{{ current_address.current_zip }}"> 
                            </div>
                            </div>
                        </div><!--End of Row-->
                        
                        <div class="row">
                            <div class="col-md-6">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Mobile / Contact Number:</span>
                  <input type="text" readonly class="form-control input-form" value="{{ personal_data.prefix_mobile_1 }}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                            <div class="col-md-6">
                      <div class="input-group">
                  <span class="input-group-addon input-label">E-mail:</span>
                  <input type="text" readonly class="form-control input-form" value="{{ personal_data.email_address_1 }}" style="text-transform: lowercase">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                         </div><!--End of Row-->    
                
    </div><!--End of Panel Body-->
  </div><!--End of Collapse-->
</div><!--End of Panel Primary-->
            
<!--Next of Kin Contact Details
============================-->            
<div id="step3" class="panel-msmi panel-msmi-blue" style="margin-top: 10px;">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail3"   aria-expanded="false" style="color: #fff; text-decoration: none;"><strong>CERTIFICATE OF COMPETENCY</strong></a></div>                
    <div id="detail3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        <div class="table-responsive" style="margin-top: 20px;">
            <table class="table  table-hover main-table">
                                          <thead class="thead">
                                                  <tr>
                                                      <th>License</th>
                                                      <th>Grade</th>
                                                        <th>Number</th>
                                                        <th>Date of Issue</th>
                                                        <th>Place of Issue</th>
                                                        <th>Date of Expiry</th>
                                                    </tr>
                                                </thead>
                                          <tbody>
                                                  <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Data 1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                </tbody>
              </table><!--End of Table Stripped-->
          </div><!--End of Table Responsive-->
          
          <div class="table-responsive" style="margin-top: 20px;">
            <table class="table  table-hover main-table">
                                          <thead class="thead">
                                                  <tr>
                                                      <th style="text-align: center;">No.</th>
                                                      <th>Documents</th>
                                                        <th>Date Issued</th>
                                                        <th>Date of Expire</th>
                                                        <th>Placed of Issued</th>
                                                        <th>Documents No.</th>
                                                    </tr>
                                                </thead>
                                          <tbody>
                                                  <tr>
                                                      <td style="text-align: center;">1</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="text-align: center;">2</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="text-align: center;">3</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="text-align: center;">4</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="text-align: center;">5</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="text-align: center;">6</td>
                                                        <td>Data 2</td>
                                                        <td>Data 3</td>
                                                        <td>Data 4</td>
                                                        <td>Data 5</td>
                                                        <td>Data 6</td>
                                                    </tr>
                                                    
                                                </tbody>
              </table><!--End of Table Stripped-->
          </div><!--End of Table Responsive-->
      </div>
  </div><!--End of Collapse-->
</div><!--End of Panel Primary-->
              
<!-- LANGUAGES
================================= -->
<div id="step10" class="panel-msmi panel-msmi-blue" style="margin-top: 10px;">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail10" aria-expanded="false" style="color: #fff; text-decoration: none;"><strong>LIST OF SEA SERVICES</strong></div>
    <div id="detail10" class="panel-collapse collapse in" aria-expanded="false">               
      <div class="panel-body">
                         
      <div class="form-group">
          <div class="table-responsive">
            <table class="table  table-hover main-table">
                                          <thead class="thead">
                                                  <tr>
                                                      <th>Sr. No.</th>
                                                      <th>Name of Company</th>
                                                      <th>Vessel Name</th>
                                                      <th>Type</th>                               
                                                      <th>GRT</th>
                                                      <th>BHP</th>
                                                      <th>Rank</th>
                                                      <th>From</th>
                                                      <th>To</th>
                                                      <th>Propulsion</th>
                                                      <th>Trade Area</th>
                                                    </tr>
                                                </thead>
                                          <tbody>
                                            {% for sea_services in sea_service %}
                                                  <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.principal|upper }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.vessel_name|upper }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.vessel_type }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.grt }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.bhp }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.rank }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.date_joined }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.date_left }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.propulsion|upper }}"></td>
                                                        <td><input type="text" readonly class="input-form" value=" {{ sea_services.trade_area|upper }}"></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
              </table><!--End of Table Stripped-->
          </div><!--End of Table Responsive-->
        </div><!--End of Form Group-->
      </div><!--End of Panel Body-->
    </div><!--End of Collapse-->
</div><!--End of Panel Primary-->

<div id="step11" class="panel-msmi panel-msmi-blue" style="margin-top: 10px;">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail11" aria-expanded="false" style="color: #fff; text-decoration: none;"><strong>SUMMARY OF KNOWLEDGE & EXPERIENCE ACQUIRED</strong></div>
  <div id="detail11" class="panel-collapse collapse in" aria-expanded="false">               
    <div class="panel-body">
      <label class="input-label" style="margin-top: 20px;">Resume your career and describe your experience at sea, type of ships, engines, voyage):</label>
      <textarea class=" form-control input-form" rows="10"></textarea>
    </div>
  </div>
</div>

<div class="panel-body">
<div class="panel-body">
                       <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Applicant's Name:</span>
                  <input type="text" readonly class="form-control input-form" value=" {{user_profile.first_name}} {{user_profile.middle_name}} {{user_profile.last_name}}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                    <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Signature:</span>
                  <input type="text" readonly data-toggle="modal" data-target="#view-signature" class="form-control input-form"  placeholder = "CLICK HERE TO SHOW SIGNATURE" >
              </div><!--End of Input Group-->
                            </div><!--End of Col 4-->
                            
                            <div class="col-md-4">
                      <div class="input-group">
                  <span class="input-group-addon input-label">Date:</span>
                  <input type="text" readonly class="form-control input-form" value=" {{ application_form.application_date }}">
              </div><!--End of Input Group-->
                            </div><!--End of Col 6-->
                 </div><!--End of Row-->
      </div>  
</div>         

<div class="modal fade" id="view-signature" tabindex="-1" role="dialog" aria-labelledby="SignatureLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signatureLabel">Signature <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <img src="{{ MEDIA_URL }}{{ mariners_profile.signature }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> 
</div>

<div class="modal fade" id="view-signature" tabindex="-1" role="dialog" aria-labelledby="SignatureLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signatureLabel">Signature <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <img src="{{ MEDIA_URL }}{{ mariners_profile.signature }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> 
</div>

<!-- Sidebar Fixed
==============================-->
</div>

<div class="col-md-3">
  <div class="sidebar" style="position: fixed; width: 246px; margin-top: 20px;">
    <div class="container-picture">
      <img src="{{ MEDIA_URL }}{{ mariners_profile.picture }}"  style="border: 3px solid #2e76b8">
    </div>
      <div class="input-group" style="width: 100%;">
        <input type="text" readonly class="form-control input-form" value="{{ user_profile.code }}" style="text-transform:lowercase">
        <input type="text" readonly class="form-control input-form" value="{{ user_profile.first_name }} {{ user_profile.middle_name }} {{ user_profile.last_name }}" >
      </div><!--End of Input Group-->
            <div class="input-group" style="width: 100%;">
            <input type="text" readonly class="form-control input-form" value="{{ mariners_profile.position }}" >
      </div>

      <div class="input-group" style="width: 100%">
                <button type="button" class="btn btn-msmi"><span class="glyphicon glyphicon-print"><strong> Print</strong></span></button>
            </div><!--End of Input Group-->
            <ul class="nav bs-docs-sidenav" style="margin-top: 10px;">
              <li>
                <a href="#step1">Personal Data</a>
              </li>
              <li>
                <a href="#step2">Contact Details</a>
              </li>
              <li>
                <a href="#step3">Certificates / Qualifications</a>
              </li>
              <li>
                <a href="#step10">List of Sea Service</a>
              </li>
                <a class="back-to-top" href="#top"><strong>Back to top</strong></a>
              </li>
            </ul>
          </div><!--End of Sidebar-->
  </div><!--End of Col-3-->
    
    
      </div><!--End of Container-->
  </div><!--End of Page Wrapper-->
</div><!--End of Wrapper-->


{% endblock %}