{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load get_data %}

{% block content %}
  <body>
    <div id="header">
      <div class="bs-doc-header">
        <div class="container">
          <h1>MANSHIP Application Form</h1>
          <h4>Explore your opportunities here!</h4>
          <div class="image-holder pull-right"><img src="{% static 'img/mascot.png' %}" ></div>
        </div>
      </div>
    </div>

  <form method="POST" id="id-application-form" class="form-horizontal" autocomplete="off" action="{% url 'application_form' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="bs-docs-section" id='application-form'> 
            {% csrf_token%}
            {% include "application_form/error_validations.html" %}
            {{ application.scheme|add_class:"hide" }}
            {{ application.http_host|add_class:"hide" }}
            <div class="form-group">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-6 padding-negator">
                      <h3><img src="{% static 'img/small_logo.png' %}"></h3>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ application.application_date|add_class:"form-control"|attr:"placeholder:Date of Application"|attr:"readonly" }}
                      {{ application.application_date.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ application.position_applied|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ application.position_applied.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ application.alternative_position|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ application.alternative_position.errors }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <div class="form-group">
                    <div class="pull-right" id="picture-container">
                      {% if request.POST %}  
                        <img src="{{request.POST.application_picture}}">
                        <input type="text" name="application_picture" value="{{request.POST.application_picture}}" class="hide">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#webcam" style="width:215px">Retake Picture</button>

                  </div>
                  
                </div>
              </div>

            <h3 id='step-2'>How did you learn about Manship?</h3>
            {{ application.source.errors }}
            {{ application.source }}
            {{ application.referred_by.errors }}

            <h3 id="step-13">Social Media</h3>
            <div class="form-group">
              <div class="col-md-12">
                <h4 class="input-label">
                  <i>Share your account details with us to stay up-to-date wih the latest trends in the seafaring industry!</i>
                </h4>
              </div>
              <div class="col-md-3">
                {{ personal_data.facebook_account|add_class:"form-control facebook_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Facebook Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.instagram_account|add_class:"form-control instagram_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Instagram Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.twitter_account|add_class:"form-control twitter_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Twitter Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.linkedin_account|add_class:"form-control linkedin_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:LinkedIn Account" }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                {{ personal_data.googleplus_account|add_class:"form-control googleplus_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Google+ Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.pinterest_account|add_class:"form-control pinterest_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Pinterest Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.reddit_account|add_class:"form-control reddit_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Reddit Account" }}
              </div>
              <div class="col-md-3">
                {{ personal_data.tumblr_account|add_class:"form-control tumblr_logo"|attr:"data-toggle:tooltip"|attr:"placeholder:Tumblr Account" }}
              </div>
            </div>


            <h3 id='step-3'>Personal Data</h3>
            <div class="form-group">
              {% for name in applicant_name  %}
                <div class="col-md-4">
                  {{ name }}
                  {{ name.errors }}
                </div>
              {% endfor %}              
            </div>
            <div class="form-group">
              <div class="col-md-4">
                {{ personal_data.birth_date|add_class:"form-control date birth_date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Birth" }}
                {{ personal_data.birth_date.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.age|add_class:"form-control age"|attr:"data-toggle:tooltip"|attr:"placeholder:Age"|attr:"readonly"|attr:"title: Fill up your Date of Birth" }}
                {{ personal_data.age.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.birth_place|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Place of Birth" }}
                {{ personal_data.birth_place.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                <b>+63</b> {{ personal_data.mobile_1|add_class:"form-control inline mobile-area-code"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 1" }}
                {{ personal_data.mobile_1.errors }}
              </div>
              <div class="col-md-4">
                <b>+63</b> {{ personal_data.mobile_2|add_class:"form-control inline mobile-area-code"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 2" }}
                {{ personal_data.mobile_2.errors }}
              </div>
              <div class="col-md-4">
                <b>+63</b> {{ personal_data.mobile_3|add_class:"form-control inline mobile-area-code"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 3" }}
                {{ personal_data.mobile_3.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                {{ personal_data.landline_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 1" }}
                {{ personal_data.landline_1.errors }}
              </div>
              <div class="col-md-3">
                {{ personal_data.landline_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 2" }}
                {{ personal_data.landline_2.errors }}
              </div>
              <div class="col-md-3">
                {{ personal_data.email_address_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:EMAIL ADDRESS 1" }}
                {{ personal_data.email_address_1.errors }}
              </div>
              <div class="col-md-3">
                {{ personal_data.email_address_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:EMAIL ADDRESS 2" }}
                {{ personal_data.email_address_2.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ personal_data.preferred_vessel_type|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Preferred Type of Vessel" }}
                {{ personal_data.preferred_vessel_type.errors }}
              </div>
              <div class="col-md-6">
                {{ personal_data.availability_date|add_class:"form-control date month-only"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Availability" }}
                {{ personal_data.availability_date.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ personal_data.sss|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:S.S.S. No." }}
                {{ personal_data.sss.errors }}
              </div>
              <div class="col-md-6">
                {{ personal_data.philhealth|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Philhealth No." }}
                {{ personal_data.philhealth.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ personal_data.tin|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:T.I.N." }}
                {{ personal_data.tin.errors }}
              </div>
              <div class="col-md-6">
                {{ personal_data.pagibig|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Pagibig No." }}
                {{ personal_data.pagibig.errors }}
              </div>
            </div>
            <div class="form-group bottom-zero">
              <div class="col-md-12">
                <i><u>Permanent Address</u></i>
              </div>
            </div>
            <div class="form-group permanent-address-section-class">
              <div class="col-md-6">
                {{ permanent_address.permanent_unit|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Unit / Lot / House"|attr:"id:permanent_unit" }}
                {{ permanent_address.permanent_unit.errors }}
              </div>
              <div class="col-md-6">
                {{ permanent_address.permanent_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street / Subdivision"|attr:"id:permanent_street" }}
                {{ permanent_address.permanent_street.errors }}
              </div>
              <div class="col-md-3">
                {{ permanent_address.permanent_province|add_class:"form-control first-choice class_province"|attr:"data-toggle:tooltip"|attr:"data-address:permanent"}}
                {{ permanent_address.permanent_province.errors }}
              </div>
              <div class="col-md-3">
                {{ permanent_address.permanent_city_municipality|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                {{ permanent_address.permanent_city_municipality.errors }}
              </div>
              <div class="col-md-3">
                {{ permanent_address.permanent_barangay|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                {{ permanent_address.permanent_barangay.errors }}
              </div>
              <div class="col-md-3" data-zip-name="permanent_zip">
                <input type="text" id="permanent_zip" class="form-control" disabled="" value="{% if permanent_address.permanent_zip.value != None %}{{ permanent_address.permanent_zip.value|get_data:'Zip' }}{% endif %}">
                {{ permanent_address.permanent_zip|add_class:"hide" }}
                {% if permanent_address.permanent_zip.errors %}
                  <ul class="errorlist">
                    <li>Please Choose your respective province, city or municipality and barangay</li>
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
              <input type="checkbox" id="same_address_current" class="same_address" data-params="current"> <label for="same_address_current">Same as above</label>
              </div>
            </div>
            <div class="form-group bottom-zero">
              <div class="col-md-12">
                <i><u>Current Address</u></i>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ current_address.current_unit|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Unit / Lot / House"|attr:"id:current_unit" }}
                {{ current_address.current_unit.errors }}
              </div>
              <div class="col-md-6">
                {{ current_address.current_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street / Subdivision"|attr:"id:current_street" }}
                {{ current_address.current_street.errors }}
              </div>
              <div class="col-md-3">
                {{ current_address.current_province|add_class:"form-control first-choice class_province"|attr:"data-toggle:tooltip"|attr:"data-address:current"}}
                {{ current_address.current_province.errors }}
              </div>
              <div class="col-md-3">
                {{ current_address.current_city_municipality|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                {{ current_address.current_city_municipality.errors }}
              </div>
              <div class="col-md-3">
                {{ current_address.current_barangay|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                {{ current_address.current_barangay.errors }}
              </div>
              <div class="col-md-3" data-zip-name="current_zip">
                <input type="text" id="current_zip" class="form-control" disabled="" value="{% if current_address.current_zip.value != None %}{{ current_address.current_zip.value|get_data:'Zip' }}{% endif %}">
                {{ current_address.current_zip|add_class:"hide" }}
                {% if current_address.current_zip.errors %}
                  <ul class="errorlist">
                    <li>Please Choose your respective province, city or municipality and barangay</li>
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ personal_data.civil_status|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                {{ personal_data.civil_status.errors }}
              </div> 
              <div class="col-md-6">
                <!-- <input type="text" data-toggle="tooltip" class="form-control date" name="date_married" placeholder="Date Married"> -->
                {{ personaldata_form.married_date|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Marriage"|attr:"disabled" }}
                {{ personaldata_form.married_date.errors }}
              </div>
              <div class="col-md-6">
                <!-- <input type="text" data-toggle="tooltip" class="form-control date" name="date_married" placeholder="Date Married"> -->
                {{ spouse_form.married_date|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Marriage"|attr:"disabled" }}
                {{ spouse_form.married_date.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                {{ spouse_form.spouse_last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Maiden Last Name"|attr:"disabled" }}
                {{ spouse_form.spouse_last_name.errors }}
              </div>
              <div class="col-md-4">
                {{ spouse_form.spouse_first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's First Name"|attr:"disabled" }}
                {{ spouse_form.spouse_first_name.errors }}
              </div>
              <div class="col-md-4">
                {{ spouse_form.spouse_middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Maiden Middle Name"|attr:"disabled" }}
                {{ spouse_form.spouse_middle_name.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ spouse_form.birthdate|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's birthday"|attr:"disabled" }}
                {{ spouse_form.birthdate.errors }}
              </div>
              <div class="col-md-6">
                {{ spouse_form.spouse_contact|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Contact No."|attr:"disabled" }}
                {{ spouse_form.spouse_contact.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                {{ personal_data.father_last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Father's Last Name" }}
                {{ personal_data.father_last_name.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.father_first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Father's First Name" }}
                {{ personal_data.father_first_name.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.father_middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Father's Middle Name" }}
                {{ personal_data.father_middle_name.errors }}
              </div>
            </div>
             <div class="form-group">
              <div class="col-md-4">
                {{ personal_data.mother_last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mother's Maiden Last Name" }}
                {{ personal_data.mother_last_name.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.mother_first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mother's First Name" }}
                {{ personal_data.mother_first_name.errors }}
              </div>
              <div class="col-md-4">
                {{ personal_data.mother_middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mother's Maiden Middle Name" }}
                {{ personal_data.mother_middle_name.errors }}
              </div>
            </div>

            <h3 id='step-4'>Educational Information</h3>
            <div class="form-group bottom-zero">
              <div class="col-md-12">
                <i><u>Colleges</u></i> &nbsp;&nbsp;<button type="button" class="btn btn-info add-college">Add more Colleges</button> <button type="button" class="btn btn-danger delete-college">Delete College</button>
              </div>
            </div>
            {% for college_form in college %}
              <div class="form-group colleges">
                <div class="col-md-5">
                  
                  {{ college_form.college|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:College" }}
                  {{ college_form.college.errors }}
                  {{ college_form.college.non_form_errors }}
                </div>
                <div class="col-md-3">
                  
                  {{ college_form.degree|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Degree Obtained" }}
                  {{ college_form.degree.errors }}
                  {{ college_form.degree.non_form_errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ college_form.collegeyear_from|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:From" }}
                  {{ college_form.collegeyear_from.errors }}
                  {{ college_form.collegeyear_from.non_form_errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ college_form.collegeyear_to|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:To" }}
                  {{ college_form.collegeyear_to.errors }}
                  {{ college_form.collegeyear_to.non_form_errors }}
                </div>
              </div>
            {% endfor %}
            <div class="form-group bottom-zero">
              <div class="col-md-12">
                <i><u>HighSchool</u></i>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                {{ highschool_form.highschool|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Highschool" }}
                {{ highschool_form.highschool.errors }}
              </div>
              <div class="col-md-2">
                {{ highschool_form.schoolyear_from|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:From" }}
                {{ highschool_form.schoolyear_from.errors }}
              </div>
              <div class="col-md-2">
                {{ highschool_form.schoolyear_to|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:To" }}
                {{ highschool_form.schoolyear_to.errors }}
              </div>
            </div>

            <h3 id='step-5'>Emergency Contact Details &nbsp;<button type="button" class="btn btn-info add-emergency">Add more Emergency Contacts</button> <button type="button" class="btn btn-danger delete-emergency">Delete Emergency Contact</button></h3>
            {% for emergencycontact_form in emergency %}
              <div class="emergency-contacts">  
                <div class="form-group">
                  <div class="col-md-4">
                    {{ emergencycontact_form.emergency_last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Last Name" }}
                    {{ emergencycontact_form.emergency_last_name.errors }}
                  </div>
                  <div class="col-md-4">
                    {{ emergencycontact_form.emergency_first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:First Name" }}
                    {{ emergencycontact_form.emergency_first_name.errors }}
                  </div>
                  <div class="col-md-4">
                    {{ emergencycontact_form.emergency_middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Middle Name" }}
                    {{ emergencycontact_form.emergency_middle_name.errors }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    {{ emergencycontact_form.emergency_contact|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Contact No." }}
                    {{ emergencycontact_form.emergency_contact.errors }}
                  </div>
                  <div class="col-md-6">
                    {{ emergencycontact_form.relationship|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Relationship" }}
                    {{ emergencycontact_form.relationship.errors }}
                  </div>
                </div>
                <div class="form-group bottom-zero">
                  <div class="col-md-6">
                    <input type="checkbox" id="same_address_emergency_{{ forloop.counter0 }}" class="same_address" data-params="emergency" data-counter="{{ forloop.counter0 }}"> <label for="same_address_emergency_{{ forloop.counter0 }}">Same as Permanent Address</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    {{ emergencycontact_form.emergency_unit|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Unit / Lot / House" }}
                    {{ emergencycontact_form.emergency_unit.errors }}
                  </div>
                  <div class="col-md-6">
                    {{ emergencycontact_form.emergency_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street / Subdivision" }}
                    {{ emergencycontact_form.emergency_street.errors }}
                  </div><!-- form-0-emergency_zip -->
                  <div class="col-md-3">
                    {{ emergencycontact_form.emergency_province|add_class:"form-control first-choice class_province"|attr:"data-toggle:tooltip"|attr:"data-address:emergency" }}
                    {{ emergencycontact_form.emergency_province.errors }}
                  </div>
                  <div class="col-md-3">
                    {{ emergencycontact_form.emergency_city_municipality|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                    {{ emergencycontact_form.emergency_city_municipality.errors }}
                  </div>
                  <div class="col-md-3">
                    {{ emergencycontact_form.emergency_barangay|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                    {{ emergencycontact_form.emergency_barangay.errors }}
                  </div>
                  <div class="col-md-3" data-zip-name="form-{{forloop.counter0}}-emergency_zip">
                    <input type="text" id="form-{{forloop.counter0}}-emergency_zip" class="form-control" disabled="" value="{% if emergencycontact_form.emergency_zip.value != None %}{{ emergencycontact_form.emergency_zip.value|get_data:'Zip' }}{% endif %}">
                    {{ emergencycontact_form.emergency_zip|add_class:"hide" }}
                    {% if emergencycontact_form.emergency_zip.errors %}
                      <ul class="errorlist">
                        <li>Please Choose your respective province, city or municipality and barangay</li>
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

            <h3 id='step-6'><a href = "#seaservice" role="button" data-toggle="modal" rel="tooltip" data-original-title="Click here to add more sea services" class="btn btn-info btn-lg sea-service-button form-control">Sea Service</a></h3>

            <h3 id='step-7'>Background Information</h3>
              <p>
                {{ visa_application.visa_application.errors }}
                A.) Have you ever been denied an application for any visa or entry into another country?
                {{ visa_application.visa_application }}
                {{ visa_application.visa_application_reason }}
              </p>
              <p>
                {{ detained.detained.errors }}
                B.) Have you ever been detained or ordered to leave any country?
                {{ detained.detained }}
                {{ detained.detained_reason }}
              </p>
              <p>
                {{ disciplinary_action.disciplinary_action.errors }}
                C.) Have you ever been subject of any disciplinary action during an employment contract?
                {{ disciplinary_action.disciplinary_action }}
                {{ disciplinary_action.disciplinary_action_reason }}
              </p>
              <p>
                {{ charged_offense.charged_offense.errors }}
                D.) Have you ever been charged any offense before an administrative body, prosecutor's office or court of law?
                {{ charged_offense.charged_offense }}
                {{ charged_offense.charged_offense_reason }}
              </p>
              <p>
                {{ termination.termination.errors }}
                E.) Have you ever been terminated for cause by any employer?
                {{ termination.termination }}
                {{ termination.termination_reason }}
              </p>

            <h3 id='step-8'>National Certificates and Travel Documents</h3>
            <div class="form-group">
              <div class="col-md-6">
                {{ passport_form.passport|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Passport No." }}
                {{ passport_form.passport.errors }} 
              </div>
              <div class="col-md-6">
                {{ passport_form.passport_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Passport Expiry" }}
                {{ passport_form.passport_expiry.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ sbook_form.sbook|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:SBook No." }}
                {{ sbook_form.sbook.errors }} 
              </div>
              <div class="col-md-6">
                {{ sbook_form.sbook_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:SBook Expiry" }}
                {{ sbook_form.sbook_expiry.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                {{ coc_form.coc|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:COC/COE" }}
                {{ coc_form.coc.errors }} 
              </div>
              <div class="col-md-4">
                {{ coc_form.coc_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:COC Expiry" }}
                {{ coc_form.coc_expiry.errors }} 
              </div>
              <div class="col-md-4">
                {{ coc_form.coc_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:COC Rank" }}
                {{ coc_form.coc_rank.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ license_form.license|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:License" }}
                {{ license_form.license.errors }} 
              </div>
              <div class="col-md-6">
                {{ license_form.license_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:License Rank" }}
                {{ license_form.license_rank.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ src_form.src|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:SRC" }}
                {{ src_form.src.errors }} 
              </div>
              <div class="col-md-6">
                {{ src_form.src_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:SRC Rank" }}
                {{ src_form.src_rank.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ goc_form.goc|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:GOC" }}
                {{ goc_form.goc.errors }} 
              </div>
              <div class="col-md-6">
                {{ goc_form.goc_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:GOC Expiry" }}
                {{ goc_form.goc_expiry.errors }} 
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                US Visa(C1/D)
                {{ usvisa_form.us_visa }}
                {{ usvisa_form.us_visa.errors }}
              </div>
              <div class="col-md-6">
                {{ usvisa_form.us_visa_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:US Visa Expiry" }}
                {{ usvisa_form.us_visa_expiry.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                Schengen Visa(Type C)
                {{ schengenvisa_form.schengen_visa }}
                {{ schengenvisa_form.schengen_visa.errors }}
              </div>
              <div class="col-md-6">
                {{ schengenvisa_form.schengen_visa_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Schengen Visa Expiry" }}
                {{ schengenvisa_form.schengen_visa_expiry.errors }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                {{ yellowfever_form.yellow_fever|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Yellow Fever" }}
                {{ yellowfever_form.yellow_fever.errors }}
              </div>
              <div class="col-md-6">
                {{ yellowfever_form.yellow_fever_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Yellow Fever Expiry" }}
                {{ yellowfever_form.yellow_fever_expiry.errors }}
              </div>
            </div>

            <h3 id='step-9'>Flag Documents</h3>
            <p>Please check the box if you possess any of the specified flag document</p>
            <div class="form-group">
                {% for flag in flags.flags %}
                  <div class="col-md-4 padding-right-negator">
                    {{ flag }}
                  </div>
                {% endfor %}
            </div>

            <h3 id='step-10'>Training and Other Certificates</h3>
            <p>Please check the box if you possess any of the specified certificates</p>
            <p>{{ trainings_certificates.trainings_certificates.errors }}</p>
            <div class="form-group dynamic-training-certificates-section">  
              <div class="col-md-12">
                <ul class="errorlist">
                  <li><h4 style="rgb(175, 17, 28)"><b><a href="#top">Please Select the Position to be Applied for the Certificates and Trainings to show</a></b></h4></li>
                </ul>
              </div>
            </div>

            <h3 id='step-11'>Essay</h3>
            <p>Kindly say something about yourself, your qualifications and any other reasons why we should hire you.</p>
            <p><b>(Take note: Essay must be at least 50 words)</b></p>
            <p><b>TOTAL WORD COUNT: <span id="display_count">0</span> words</b></p>
            {{ application.essay.errors }}
            <p>{{ application.essay }}</p>

            <div class="certification">
                <h3 id='step-12' class="margin-top-negator msmi-green-color">Certification</h3>
                <p>1.) I certify that all information I have provided on this Application Form is, to the best of my knowledge true and correct</p>
                <p>2.) I agree that if I have withheld or misrepresented any information on this Application Form. I alone am responsible and accountable for any consequence of such withholding or misrepresentation</p>
                <p>3.) I understand that the information I provided in this Application Form shall remain confidential, but I may be held liable for any untruthful statements made therein</p>
                <div class="form-group">
                  <div class="col-md-6">
                    <label class="control-label">Printed Name:</label>
                    <input type="text" data-toggle="tooltip" id="full_name" class="form-control certification-input" readonly="" placeholder="Printed Name" >
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">{% if not application.signature.errors %}{% if request.POST  %}<i><u>Already Signed</u></i>{% else %}Signature:{% endif %}{% else %}Signature:{% endif %} </label>
                    <input type="text" data-toggle="modal" data-target="#signature" class="form-control certification-input" name="signature" placeholder="Signature" readonly="">
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">Date:</label>
                    {{ application.application_date|add_class:"form-control"|attr:"placeholder:Date of Application"|attr:"readonly"|attr:"disabled" }}
                  </div>
                </div>
              </div>
              <button class="btn btn-success btn-msmi-success form-control submit-application" >Submit Application</button>
            <br /> &nbsp;  
          </div>
        </div>
<div class="modal fade" id="webcam" tabindex="-1" role="dialog" aria-labelledby="PictureLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="pictureLabel"><b>TAKE PICTURE</b></h4>
      </div>
      <div class="modal-body webcam-container col-centered">
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-info half-width" id="start-application" onClick="take_snapshot()" data-dismiss="modal">Start Application</button></center>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="welcome-message" tabindex="-1" role="dialog" aria-labelledby="PictureLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 class="modal-title" id="pictureLabel"><b>Welcome to Manship</b></h4> -->
      </div>
      <div class="modal-body webcam-container col-centered">
        <center><img src="{% static 'img/mascot.png' %}" width="215px" height="215px">
        <h3>Thank you for choosing MANSHIP!</h3></center>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-info half-width" data-dismiss="modal">Proceed</button></center>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="seaservice" tabindex="-1" role="dialog" aria-labelledby="SeaServiceLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="seaserviceLabel"><b>SEA SERVICE ON LAST TWO RANKS</b><span class="refresh"></span></h4>
      </div>
      <div class="modal-body">
        <div style="padding-left: 15px">
          <h5><b>PLEASE READ INSTRUCTIONS CAREFULLY BEFORE FILLING OUT</b></h5>
          <h5>1.) <i>Take note:</i> <b>If you have no Sea Service, do not put anything. Just click on "PROCEED TO APPLICATION" at the bottom of the page</b></h5>
          <h5>2.) <i>Complete all fields from Vessel Name to Cause of Discharge</i></h5>
          <h5>4.) <i>Take note:</i> <b>Click "Clear Row" to clear the required fields within the row.</b></h5>
          <h5>4.) <i>Take note:</i> <b>Click on "Proceed to Application" at the bottom of the page to go to the next step.</b></h5>
          <h5><button type='button' class='btn btn-info add-sea-service-row'>ADD MORE SEA SERVICES</button></h5>
          <h5 class="validations"></h5>
        </div>
        
        <div class="table-responsive">
          <table class="table table-striped sea-services">
            <thead>
              <tr>
                <th></th>
                <th>Vessel Name</th>
                <th>Vessel Type</th>
                <th>Flag</th>
                <th>GRT</th>
                <th>DWT</th>
                <th>Year Built</th>
                <th>Engine Type</th>
                <th>HP</th>
                <th>KW</th>
                <th>Manning Agency</th>
                <th>Rank</th>
                <th>Principal / Shipowner</th>
                <th>Date Joined</th>
                <th>Date Left</th>
                <th>Cause of Discharge</th>
              </tr>
            </thead>
            <tbody>
              {{ seaservice_form.management_form }}
              {% for seaservice in seaservice_form %}
                <tr class='sea-service-row'>
                  <td><button type='button' class='btn btn-warning clear-row'>Clear Row</button></td>
                  <td>{{ seaservice.vessel_name|attr:"data-toggle:tooltip"|attr:"Placeholder:Vessel Name" }}</td>
                  <td>{{ seaservice.vessel_type|attr:"data-toggle:tooltip"|attr:"Placeholder:Vessel Type"|add_class:"vtype" }}</td>
                  <td>{{ seaservice.flag|attr:"data-toggle:tooltip"|attr:"Placeholder:Flag"|add_class:"flag" }}</td>
                  <td>{{ seaservice.grt|attr:"data-toggle:tooltip"|attr:"Placeholder:GRT"|add_class:"grt" }}</td>
                  <td>{{ seaservice.dwt|attr:"data-toggle:tooltip"|attr:"Placeholder:DWT"|add_class:"dwt" }}</td>
                  <td>{{ seaservice.year_built|attr:"data-toggle:tooltip"|attr:"Placeholder:Year Built" }}</td>
                  <td>{{ seaservice.engine_type|attr:"data-toggle:tooltip"|attr:"Placeholder:Engine Type" }}</td>
                  <td>{{ seaservice.hp|attr:"data-toggle:tooltip"|attr:"Placeholder:HP"|add_class:"hp" }}</td>
                  <td>{{ seaservice.kw|attr:"data-toggle:tooltip"|attr:"Placeholder:KW"|add_class:"kw" }}</td>
                  <td>{{ seaservice.manning_agency|attr:"data-toggle:tooltip"|attr:"Placeholder:Manning Agency"|add_class:"manning_agency"|add_class:"td-150" }}</td>
                  <td>{{ seaservice.rank|attr:"data-toggle:tooltip"|attr:"Placeholder:Rank"|add_class:"rank" }}</td>
                  <td>{{ seaservice.principal|attr:"data-toggle:tooltip"|attr:"Placeholder:Principal / Shipowner"|add_class:"td-170" }}</td>
                  <td>{{ seaservice.date_joined|add_class:"date date-joined"|attr:"data-toggle:tooltip"|attr:"Placeholder:Date Joined" }}</td>
                  <td>{{ seaservice.date_left|add_class:"date date-left"|attr:"data-toggle:tooltip"|attr:"Placeholder:Date Left"|attr:"disabled" }}</td>
                  <td class="hide">{{ seaservice.duration|add_class:"duration"|attr:"data-toggle:tooltip"|attr:"Placeholder:Days"|attr:"readonly" }}</td>
                   
                   <td>{{ seaservice.cause_of_discharge|attr:"data-toggle:tooltip"|add_class:"first-choice cause_of_discharge" }}</td>
                </tr>
              {% endfor %}
            </tbody>  
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-info half-width" id="proceed-sea-service">Proceed to Application</button></center>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signature" tabindex="-1" role="dialog" aria-labelledby="SignatureLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="signatureLabel">
          Signature
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </h4>

      </div>
      <div class="modal-body text-center">
        {{ application.signature }}
        <button class="btn btn-info form-control half-width margin-top-bottom-buffer">Submit Application</button>
      </div>
    </div>
  </div> 
</div>

<div class="modal fade" id="loading" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{% static 'img/loading-x.gif' %}">
      </div>
    </div>
  </div> 
</div>
        {% include "application_form/sidebar.html" %}
      </div>
    </div>
  </form>

    <div id="footer">
      <div class="container">
        <p>Princess Building, 104 Esteban Street, Legaspi Village, Makati City 1229, Philippines<br>
        Tel No.: +63 2 892 4071 to 74; Fax No.: +63 2 816 6993<br>
        Website:<a href="http://www.manship.com" title="Click here!" target="_blank">&nbsp;www.manship.com</a> 
        E-mail:<a href="mailto:recruitment@manship.com" title="Click here!" target="_blank">&nbsp;recruitment@manship.com</a></p>
        <p>&copy {% now "Y" %} Manila Shipmanagement & Manning, Inc. All rights reserved.</p>
      </div>
    </div>
{% endblock %}
{% block extra_scripts %}
  <script language="JavaScript">
  trainings_certificates_url = "{% url 'application_form_training_certificates' %}";
  provinces_url = "{% url 'application_form_city_municipality' %}";
  cities_url = "{% url 'application_form_auto_zip_code' %}";
  ncr_barangay_url = "{% url 'application_form_ncr_barangay' %}";
  advertisements = '{{ application.advertisements|escapejs }}';
  internet = '{{ application.internet|escapejs }}';
  referrer = '{{ application.referred_by }}';
  self_url = window.location;
    // Start Webcam Scripts
    // Placed here because it throws validation alerts on other pages if put in main.js
    Webcam.set({
            width: 215,
            height: 215,
            dest_width: 215,
            dest_height: 215,
            image_format: 'jpeg',
            jpeg_quality: 90,
            force_flash: false,
            flip_horiz: true,
            fps: 45
        });

    Webcam.attach( '.webcam-container' );
    
    function take_snapshot() {
      Webcam.snap( function(data_uri) {
          Webcam.upload( data_uri, '/application-form/tmp-image/', function(code, text) {
            d = new Date();
            if (text != 'No data') {
              var image_url = text;
              // show JPEG image in page
              // Extra parameter for Image Caching
              document.getElementById('picture-container').innerHTML = '<img src="' + image_url + '?'+d.getTime()+'"><input type="text" name="application_picture" value="'+image_url+'" class="hide">';
              // reset camera for another shot
              $("#picture-container").css("border", "0px")
            }
            else{
              alert("Python Error: " + msg);
            } 
            } );
      } );
    }

    // End Webcam Scripts
    {% if not request.POST %}
        $("#id_civil_status option:first-child").text("CIVIL STATUS");
        // $("#id_civil_status option:first-child").css("display", "inline");
        // setTimeout(function(){ $("#id_civil_status option:first-child").css("display", "none"); $("#id_civil_status").attr("style", "") }, 500);
        $(".cause_of_discharge option:first-child").text("CAUSE OF DISCHARGE");
        // $(".cause_of_discharge option:first-child").css("display", "inline");
        // setTimeout(function(){ $(".cause_of_discharge option:first-child").css("display", "none"); $(".cause_of_discharge").attr("style", "") }, 500);
        $("#id_position_applied option:first-child").text("POSITION APPLIED");
        // $("#id_position_applied option:first-child").css("display", "inline");
        // setTimeout(function(){ $("#id_position_applied option:first-child").css("display", "none"); $("#id_position_applied").attr("style", "") }, 500);
        $("#id_alternative_position option:first-child").text("ALTERNATIVE POSITION");
        // $("#id_alternative_position option:first-child").css("display", "inline");
        // setTimeout(function(){ $("#id_alternative_position option:first-child").css("display", "none"); $("#id_alternative_position").attr("style", "") }, 500);

        $(".class_province").each(function(){
          $('option:first-child', this).text("PROVINCE");
          // $('option:first-child', this).css("display", "inline");
          // setTimeout(function(){ $('option:first-child', this).css("display", "none"); $('option:first-child', this).attr("style", "") }, 500);
        });

        $("#webcam").modal('show');
        $("#welcome-message").modal('show');

        // Used in the input[name='source'] click function
        function referred_by_focus(){ setTimeout(function(){ $("#id_referred_by").focus(); }, 300); }; 
    {% else %}
        certificates_initial = '{{ request_training_certificates }}';
        province_initial = '{{ request_provinces }}';
        civil_status = $("#id_civil_status option:selected").text();
        position_applied = $("#id_position_applied option:selected").text();
        alternative_position = $("#id_alternative_position option:selected").text();
        function referred_by_focus(){ }; 
        // cause_of_discharge = $(".cause_of_discharge option:selected").text();
        if(civil_status == "---------"){
            $("#id_civil_status option:first-child").text("CIVIL STATUS");
            $("#id_civil_status option:first-child").css("display", "inline");
            setTimeout(function(){ $("#id_civil_status option:first-child").css("display", "none"); $("#id_civil_status").attr("style", "") }, 500);
        }
        if(position_applied == "---------"){
            $("#id_position_applied option:first-child").text("POSITION APPLIED");
            $("#id_position_applied option:first-child").css("display", "inline");
            setTimeout(function(){ $("#id_position_applied option:first-child").css("display", "none"); $("#id_position_applied").attr("style", "") }, 500);
        }
        if(alternative_position == "---------"){
            $("#id_alternative_position option:first-child").text("ALTERNATIVE POSITION");
            $("#id_alternative_position option:first-child").css("display", "inline");
            setTimeout(function(){ $("#id_alternative_position option:first-child").css("display", "none"); $("#id_alternative_position").attr("style", "") }, 500);
        }
        if(alternative_position == "Deck Cadet" || alternative_position == "Engine Cadet" || position_applied == "Deck Cadet" || position_applied == "Engine Cadet"){
          $("#application-form-essay").show();
          $("#id_essay").prop("required", "true");
        }

        $(".class_province").each(function(){
          text = $('option:selected', this).text();
          if(text == "---------"){
            $('option:first-child', this).text("PROVINCE");
            // $('option:first-child', this).css("display", "inline");
            // setTimeout(function(){ $('option:first-child', this).css("display", "none"); $('option:first-child', this).attr("style", "") }, 500);
          }
        });

        $('table.sea-services').find('.cause_of_discharge').each(function(){
        $('option:first-child', this).text("CAUSE OF DISCHARGE");
        $('option:first-child', this).css("display", "inline");
          if($('option:selected', this).text() != "CAUSE OF DISCHARGE"){
            $(this).css("color", "#000");
          }
        });
        // To resolve the signature error after request
        $('#signature').on('show.bs.modal', function (e){
            // alert('dean');
          setTimeout(function(){ $(".jsign-wrapper input[value='Reset']").click(); }, 1000);
        });
    {% endif %}
  </script>
{% endblock %}