<div class="col-md-3">
  <div class="sidebar hidden-print" role="complementary">
    <ul class="nav bs-docs-sidenav">
      <li>
        <a href="#step-2">How did you learn about Manship?</a>
      </li>
      <li>
        <a href="#step-3">Personal Data</a>
      </li>
      <li>
        <a href="#step-4">Educational Information</a>
      </li>
      <li>
        <a href="#step-5">Emergency Contact Details</a>
      </li>
      <li>
        <a href="#step-6">Sea Service</a>
      </li>
      <li>
        <a href="#step-7">Background Information</a>
      </li>
      <li>
        <a href="#step-8">National Certificates and Travel Documents</a>
      </li>
      <li>
        <a href="#step-9">Flag Documents</a>
      </li>
      <li>
        <a href="#step-10">Training and Other Certificates</a>
      </li>
      <li>
        <a href="#step-11">Essay</a>
      </li>
      <li>
        <a href="#step-12">Certification</a>
      </li>
      <li>
        <a class="back-to-top" href="#top">
          Back to top
        </a>
      </li>
    </ul>

  </div>
</div>