{% extends "base.html" %}
{% load static %}

{% block content %}
  <body>
  <nav class="navbar navbar-default navbar-static-top account-landing">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}"><img width = '200' height="100" src="{% static 'img/main.png' %}"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin: 23px;">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="navbar-link account-landing-picture-identifier">{% if user_profile.nick_name %}{{user_profile.nick_name}}{% else %}{{ request.user }}{% endif %}</a></li>
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle background-msmi-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="margin-top-landing" src="{{MEDIA_URL}}{{user_profile.picture}}" height="50px" width="50px"><span class="caret"></span></a>
            <ul class="dropdown-menu account-landing-dropdown-menu">
              <li><a href="">Change password</a></li>
              <li><a href="" target="_blank">Manage Accounts</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="mainstream text-center">
    <div class="container">
      <div class="col-xs-6 col-md-6">
        <div class="thumbnail text-center">
          <a href="{% url 'application_profiles' %}" target="_blank" title="MANSHIP Applicants"><img class="account-landing-thumbnail-img" src="{% static "img/login-landing/applicants.png" %}" alt="MANSHIP Applicants"></a>
          <div class="caption">
            <h3><b>MANSHIP Applicants</b></h3>
            <p class="account-landing-thumbnail-desc">See who wants to join us!</p>
            <p><a href="{% url 'application_profiles' %}" target="_blank" class="btn btn-primary" role="button">Launch</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="thumbnail text-center">
          <a href="{% url 'mariners_profiles' %}" target="_blank" title="MANSHIP Mariners"><img class="account-landing-thumbnail-img" src="{% static "img/login-landing/mariners.png" %}" alt="MANSHIP Mariners"></a>
          <div class="caption">
            <h3><b>MANSHIP Mariners</b></h3>
            <p class="account-landing-thumbnail-desc">See our team of highly competent, trustworthy and well-taken care of mariners!</p>
            <p><a href="{% url 'mariners_profiles' %}" target="_blank" class="btn btn-primary" role="button">Launch</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------FOOTER---------->
  <div class="container-fluid account-landing-footer text-center">
    Copyright © {% now "Y" %} Manila Shipmanagement &amp; Manning, Inc. All rights reserved.
    <div class="container margin-top-bottom-buffer background-msmi-blue text-left">
      <h4>NOTIFICATIONS <i>()Read</i>  <i>()Unread</i></h4>
      {% if notifications %}
        {% for notification in notifications %}
          <div class="background-msmi-green notification-padding row"> {{ notification.notification.status }} <b>({{ notification.notification.user }}) at {{ notification.notification.date_time_created }}</b> <button type="button" class="close notification-close" >&times;</button></div>
        {% endfor %}
      {% else %}
        <div class="background-msmi-green notification-padding row"> <h5>THERE ARE CURRENTLY NO NEW NOTIFICATIONS</h5></div>
      {% endif %}
     <!--  <div class="background-msmi-green notification-padding row"> <h5>THERE ARE NO NEW NOTIFICATIONS</h5></div>
      <div class="background-msmi-green notification-padding row"> Notification 1 <button type="button" class="close notification-close" >&times;</button></div>
      <div class="background-msmi-green notification-padding row"> Notification 2 <button type="button" class="close notification-close" >&times;</button></div>
      <div class="background-msmi-green notification-padding row"> Notification 3 <button type="button" class="close notification-close" >&times;</button></div> -->
    </div>
  </div>
{% endblock %}