{% extends "base.html" %}
{% load static %}

{% block content %}
  <body>
  <nav class="navbar navbar-default navbar-static-top account-landing">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}"><img width = '200' height="100" src="{% static 'img/main.png' %}"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin: 23px;">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="navbar-link account-landing-picture-identifier">{% if user_profile.nick_name %}{{user_profile.nick_name}}{% else %}{{ request.user }}{% endif %}</a></li>
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle background-msmi-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="margin-top-landing" src="{% if user_profile.picture %}{{MEDIA_URL}}{{user_profile.picture}}{% else %}{% static 'img/user.png' %}{% endif %}" height="50px" width="50px"><span class="caret"></span></a>
            <ul class="dropdown-menu account-landing-dropdown-menu">
              <li><a href="">Change password</a></li>
              <li><a href="" target="_blank">Manage Accounts</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="mainstream text-center">
    <div class="container">
      <div class="col-xs-6 col-md-6">
        <div class="thumbnail text-center">
          <a href="{% url 'application_profiles' %}" target="_blank" title="MANSHIP Applicants"><img class="account-landing-thumbnail-img" src="{% static "img/login-landing/applicants.png" %}" alt="MANSHIP Applicants"></a>
          <div class="caption">
            <h3><b>MANSHIP Applicants</b></h3>
            <p class="account-landing-thumbnail-desc">See who wants to join us!</p>
            <p><a href="{% url 'application_profiles' %}" target="_blank" class="btn btn-primary" role="button">Launch</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="thumbnail text-center">
          <a href="{% url 'mariners_profiles' %}" target="_blank" title="MANSHIP Mariners"><img class="account-landing-thumbnail-img" src="{% static "img/login-landing/mariners.png" %}" alt="MANSHIP Mariners"></a>
          <div class="caption">
            <h3><b>MANSHIP Mariners</b></h3>
            <p class="account-landing-thumbnail-desc">See our team of highly competent, trustworthy and well-taken care of mariners!</p>
            <p><a href="{% url 'mariners_profiles' %}" target="_blank" class="btn btn-primary" role="button">Launch</a></p>
          </div>
        </div>
      </div>
      {% if notifications_all_count %}
        <div class="row">
          <div class="col-lg-12 background-msmi-blue margin-top-bottom-buffer">
            <h4>NOTIFICATIONS &nbsp;&nbsp;&nbsp;<span id="unread-messages" class="cursor-pointer"><i>(<u id="unread-count">{{notifications_count}}</u>) unread</i></span> &nbsp;&nbsp; <span id="read-messages" class="cursor-pointer"><i>(<u id="read-count">{{notifications_read_count}}</u>) read</i></span> <a href="{% url 'login_notifications_all' slug=user_profile.slug %}" class="pull-right color-white" target="_blank">See All</a> </h4>
            <div class="notifications-section" id="notifications-section">
              {% if notifications %}
                {% for notification in notifications %}
                  <a href="{{ notification.notification.status.base_url }}{{ notification.notification.user.slug }}/" target="_blank"  data-notification-id="{{notification.id}}" class="unread"><div class="background-msmi-green notification-padding row"> {{ notification.notification.status }} <b>({{ notification.notification.user }}) at {{ notification.notification.date_time_created }}</b> <button type="button" class="close notification-close event-prevent-default" data-notification-id="{{notification.id}}">&times;</button></div></a>
                {% endfor %}
              {% else %}
                <div class="background-msmi-green notification-padding row"> <h5>THERE ARE CURRENTLY NO NEW NOTIFICATIONS</h5></div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <!------FOOTER---------->
  <div class="container-fluid account-landing-footer text-center">
    Copyright © {% now "Y" %} Manila Shipmanagement &amp; Manning, Inc. All rights reserved.
    <!-- <div class="margin-top-bottom-buffer background-msmi-blue text-left"> -->
      
    <!-- </div> -->
  </div>

  <div class="modal fade modal-size-acknowledgement" id="modal-mariner-principal-transfer-acknowledgement" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="signatureLabel">MARINER STATUS CHANGE <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
        </div>
        <div class="modal-body mariner-status-notification">
          <h4>A notification was sent with the following attachment.</h4>
          <a href="http://image.slidesharecdn.com/finalcopyoftrednprinciinterview-150130152210-conversion-gate01/95/assignment-on-interview-of-a-principal-of-a-teacher-education-institute-2-638.jpg?cb=1422631484" target="_blank"><img src="http://image.slidesharecdn.com/finalcopyoftrednprinciinterview-150130152210-conversion-gate01/95/assignment-on-interview-of-a-principal-of-a-teacher-education-institute-2-638.jpg?cb=1422631484"></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Click to Approve</button>
        </div>
      </div>
    </div> 
  </div>
{% endblock %}

{% block extra_scripts %}
<!-- <script type="text/javascript" src="{% static 'swampdragon/js/vendor/sockjs-0.3.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/legacy/swampdragon.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/legacy/swampdragon-vanilla.js' %}"></script>
<script type="text/javascript" src="http://localhost:9999/settings.js"></script>
<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script> -->
<script type="text/javascript">
  $(function(){
    login_read_notification_url = "{% url 'login_read_notifications' %}";
    login_read_unread_messages_url = "{% url 'login_notifications' %}";
    login_delete_messages_url = "{% url 'login_delete_notifications' %}";
    x = "{{ request.user }}";
    
    // $.get('/welcome/', {}, function(result){
      
    // });
    
    $('.notifications-section').on('click', '.notification-close', function(e){
      e.stopPropagation();
      e.preventDefault();
      var _confirm = confirm("Warning! Proceeding will completely delete the notification. Proceed?");
      if( _confirm ==  true ){
        $(this).parent().remove();
        notification_id = $(this).attr("data-notification-id");
        $.get(login_delete_messages_url, { id: notification_id }, function(data){
          data = data.split(',');
          unread_count = data[0];
          read_count = data[1];
          $("#unread-count").text(unread_count);
          $("#read-count").text(read_count);
        });
      }
    });
    $('.notifications-section').on('click', 'a.unread', function(){
      notification_id = $(this).attr("data-notification-id");
      $.get(login_read_notification_url, { id: notification_id }, function(data){
        data = data.split(',');
        unread_count = data[0];
        read_count = data[1];
        $("#unread-count").text(unread_count);
        $("#read-count").text(read_count);
      });
    });
    $("#read-messages, #unread-messages").click(function(){
      div_id = $(this).attr('id');
      user_id = "{{request.user.id}}";
      if(div_id == 'read-messages'){
        bool_messages = 1;
      }else{
        bool_messages = 0;
      }
      $.get(login_read_unread_messages_url, {bool: bool_messages, user_id: user_id}, function(data){
        $('.notifications-section').html(data);
      });
    });
    if (x == 'baea'){
      $("#modal-mariner-principal-transfer-acknowledgement").modal("show");
    }
  });
</script>
{% endblock %}