<div>
	<center>
		<table border="1px solid #ccc">
			<tbody>
				<tr>
					<td style="background:#00b58c;color:#2e76b8;font-size:32px;width:700px;text-align:center;height:70px;border:1px solid #ccc;"><img align="middle" src="https://people-manship.rhcloud.com/static/img/mascot-mariners-profile.png" height="100px" width="100px">{{ email_title|upper }}</td>
				</tr>
				<tr>
					<td style="padding:30px; border:1px solid #ccc;text-align:left;color:#2e76b8"> 
						{{ email_greetings }}
						{{ email_body }}
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>