{% load static %}
{% load pdf_image %}

{% static "img/small_logo.png" as small_logo %}
{# ressource.image.url|get64:domain|add:small_logo #}
<!-- {{ domain }}/media/{{ appdetails.picture }} -->
{# ressource.image.url|get64:signature #}
{# ressource.image.url|get64:check #}
{# ressource.image.url|get64:uncheck #}
{# ressource.image.url|get64:small_logo #}
{# ressource.image.url|get64:picture #}

<!DOCTYPE html>
<html>
<head>
	<title>PDF Example</title>
	<style type="text/css">
		body{ font-size:12px; }
		th, td{ padding:5px; padding-bottom:0px; }
		/*tr, td{ border:0; }*/
	</style>
</head>
<body>
	<table>
	<tr>
		<td ><img src="{{ ressource.image.url|get64:logo }}"></td>
		<td style="text-align:center; font-size:24px">ENESEL S.A.</td>
		<td align="right"><h1>FORM CREW-01<br>Page 1 of 5</h1></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:center; font-size:21px; border: 1px solid black; margin-top: 15px;">
			<h4>SEAGOING PERSONNEL APPLICATION AND INTERVIEW RECORD</h4>
		</td> 
	</tr>
	</table>
	<br>
	<br>

<table border="1">
		<tr>
			<table border="1">
				<tr>
					<th colspan="2" style="text-align: left; color: #000; background: #00CC99;">Part A. APPLICATION FORM</th>
					<td></td>
				</tr>
				<tr>
					<th colspan="3" style="text-align: left; color: #000; background: #00CC99;" width="100%">PERSONAL DATA</th>
				</tr>
				<tr>
					<td>Position applied for: <b><u>{{ mariners_profile.position }}</u></b></td>
					<td></td>
					<th align="right">PHOTO</th>
				</tr>
			</table>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<tr>
						<td colspan="2" style="padding:0px;">
							<table border="1">
								<tr>
									<td height="100">Available from: </td>
									<td><b><u>{{ personal_data.availability_month_year }}</u></b></td>
								</tr>
								<tr>
									<td>Surname: </td>
									<td><b><u>{{ user_profile.last_name|upper }}</u></b></td>
								</tr>
								<tr>
									<td>Name:</td>
									<td><b><u>{{ user_profile.first_name|upper }}</u></b></td>
								</tr>
								<tr>
									<td>Middle name: </td>
									<td><b><u>{{ user_profile.middle_name|upper }}</u></b></td>
								</tr>
								<tr>
									<td>Father's name:</td>
									<td><b><u>{{ personal_data.father_first_name|upper }} {{ personal_data.father_middle_name|upper }} {{ personal_data.father_last_name|upper }}</u></b></td>
								</tr>
								<tr>
									<td>Mother's name:</td>
									<td><b><u>{{ personal_data.mother_first_name|upper }} {{ personal_data.mother_middle_name|upper }} {{ personal_data.mother_last_name|upper }}</u></b></td>
								</tr>
								<tr>
									<td>Date of birth: </td>
									<td><b><u>{{ personal_data.birth_date }}</u></b></td>
								</tr>
								<tr>
									<td>Place of birth: </td>
									<td><b><u>{{ personal_data.birth_place|upper }}</u></b></td>
								</tr>
							</table>
						</td>
						<td align="center">
							{% if picture %}<img style="float:left" src="{{ ressource.image.url|get64:picture }}">{% endif %}
						</td>
					</tr>
					<tr>
						<td>Over 18 years of age:</td>
						<td style="padding-top:0px;">{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}Yes <img src="{{ ressource.image.url|get64:uncheck }}">No </td>
						<td></td>
					</tr>
					<tr>
						<td>Marital Status:</td>
						<td style="padding-top:0px;">{% if personaldata.civil_status|upper != "MARRIED" %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}Single {% if personaldata.civil_status|upper == "MARRIED" %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}Married</td>
						<td>Nationality: <b><u>{{ personal_data.nationality|upper }}</u></b></td>
					</tr>
					<tr>
						<td>Home Address: </td>
						<td colspan="2">{% if personal_data.current_address %}<b><u>{{ personal_data.current_address.current_unit|upper }}, {{ personal_data.current_address.current_street|upper }}, {{ personal_data.current_address.current_zip.barangay|upper }}, {{ personal_data.current_address.current_zip.municipality|upper }}</u></b>{% endif %}</td>
					</tr>
					<tr>
						<td>Tel No.: <b><u>{{ personal_data.none_landline_1 }}</u></b> </td>
						<td>Mobile No.: <b><u>{{ personal_data.prefix_mobile_1 }}</u></b> </td>
						<td>E-mail: <b><u>{{ personal_data.email_address_1 }}</u></b> </td>
					</tr>
					<tr>
						<td style="color: #000; background: #00CC99;">Next of kin:</td>
						<td style="color: #000; background: #00CC99;" colspan="2"></td>
					</tr>
					<tr>
						<td>Sur name: <b><u>{{ emergency_contact.emergency_last_name|upper }}</u></b></td>
						<td>Middle name: <b><u>{{ emergency_contact.emergency_middle_name|upper }}</u></b> </td>
						<td>Name: <b><u>{{ emergency_contact.emergency_first_name|upper }}</u></b> </td>
					</tr>
					<tr>
						<td colspan="2">Home Address: {% if emergency_contact %}<b><u>{{ emergency_contact.emergency_unit|upper }}, {{ emergency_contact.emergency_street|upper }}, {{ emergency_contact.emergency_zip.barangay|upper }}, {{ emergency_contact.emergency_zip.municipality|upper }}</u></b>{% endif %}</td>
						<td>Tel No.: <b><u>{{ emergency_contact.prefix_emergency_contact }}</u></b></td>
					</tr>
					<tr>
						<td>Dependants (number): <b><u>{{ dependents_count }}</u></b> </td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2">VAT No.:</td>
						<td>VAT Register Authority:</td>
					</tr>
				</table>
			</td>
		</tr>
		<br>
		<table border="1">
			<tr>
				<th>DOCUMENTS</th>
				<th>NUMBER</th>
				<th>ISSUING</th>
				<th>ISSUED DATE</th>
				<th>EXPIRY DATE</th>
			</tr>
			<tr>
				<td>Passport</td>
				<td style="text-align: center">{{ passport.passport|upper }}</td>
				<td style="text-align: center">{{ passport.passport_place_issued|upper }}</td>
				<td style="text-align: center">{{ passport.none_date_issued }}</td>
				<td style="text-align: center">{{ passport.none_expiry }}</td>
			</tr>
			<tr>
				<td>National Seaman's Book</td>
				<td style="text-align: center">{{ sbook.sbook|upper }}</td>
				<td style="text-align: center">{{ sbook.sbook_place_issued|upper }}</td>
				<td style="text-align: center">{{ sbook.none_date_issued }}</td>
				<td style="text-align: center">{{ sbook.none_date_expiry }}</td>
			</tr>
			<tr>
				<td>Other Seaman's Book</td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
			</tr>
			<tr>
				<td>Medical Fitness Certificate</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Yellow Fever Vaccination</td>
				<td style="text-align: center">{{ yellow_fever.yellow_fever }}</td>
				<td style="text-align: center">{{ yellow_fever.yellow_place_issued|upper }}</td>
				<td style="text-align: center">{{ yellow_fever.none_date_issued }}</td>
				<td style="text-align: center">{{ yellow_fever.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="5"> &nbsp; </td>
			</tr>
		</table>
	</table>

	<table border="1">
		<tr>
					<th style="text-align: left; color: #000; background: #00CC99;">QUALIFICATIONS</th>
			
		</tr>
		<table border="1">
			<tr>
				<th colspan="2" align="left">CERTIFICATES</th>
				<th>YES</th>
				<th>NO</th>
				<th>ISSUING</th>
				<th>ISSUE DATE</th>
				<th>EXPIRY DATE</th>
			</tr>
			<tr>
				<td colspan="2">National Endorsement</td>
				<td style="text-align:center; padding-top:0px;">{% if license %}{% if license.license|upper %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not license %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not license.license|upper %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{% if license %} PRC/MARINA {% endif %}</td>
				<td style="text-align:center">{{ license.license_none_date_issued }}</td>
				<td style="text-align:center">{{ license.license_none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Other Endorsement</td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
				<td style="text-align:center"></td>
			</tr>
			<tr>
				<td colspan="2">Tanker Safety (operational-V/1.1)</td>
				<td style="text-align:center; padding-top:0px;">{% if btot_documents %}{% if btot_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not btot_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not btot_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ btot_documents.trainings_certificates.training_issuing_authority}}</td>
				<td style="text-align:center">{{ btot_documents.none_issued }}</td>
				<td style="text-align:center">{{ btot_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Tanker Safety (management-V/1.2) </td>
				<td style="text-align:center; padding-top:0px;">{% if atot_documents %}{% if atot_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not atot_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not atot_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ atot_documents.trainings_certificates.training_issuing_authority}}</td>
				<td style="text-align:center">{{ atot_documents.none_issued }}</td>
				<td style="text-align:center">{{ atot_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">ECDIS-(generic)</td>
				<td style="text-align:center; padding-top:0px;">{% if ecdis_documents %}{% if ecdis_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not ecdis_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not ecdis_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ ecdis_documents.trainings_certificates.training_issuing_authority}}</td>
				<td style="text-align:center">{{ ecdis_documents.none_issued }}</td>
				<td style="text-align:center">{{ ecdis_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">ECDIS-JRC</td>
				<td style="text-align:center; padding-top:0px;">{% if ecdis_jrc_documents %}{% if ecdis_jrc_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not ecdis_jrc_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not ecdis_jrc_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ ecdis_jrc_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ ecdis_jrc_documents.none_issued }}</td>
				<td style="text-align:center">{{ ecdis_jrc_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Life Saving & Fire Fighting (VI)</td>
				<td style="text-align:center; padding-top:0px;">{% if bt_documents %}{% if bt_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not bt_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not bt_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ bt_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ bt_documents.none_issued }}</td>
				<td style="text-align:center">{{ bt_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Medical Care (VI /4.4)</td>
				<td style="text-align:center; padding-top:0px;">{% if meca_documents %}{% if meca_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not meca_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not meca_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ meca_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ meca_documents.none_issued }}</td>
				<td style="text-align:center">{{ meca_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Ship Security Officer</td>
				<td style="text-align:center; padding-top:0px;">{% if sso_documents %}{% if sso_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not sso_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not sso_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ sso_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ sso_documents.none_issued }}</td>
				<td style="text-align:center">{{ sso_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Cargo Handling Simulator</td>
				<td style="text-align:center; padding-top:0px;">{% if chs_documents %}{% if chs_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not chs_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not chs_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ chs_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ chs_documents.none_issued }}</td>
				<td style="text-align:center">{{ chs_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">BRM-Simulator-Ship Handling</td>
				<td style="text-align:center; padding-top:0px;">{% if brm_documents %}{% if brm_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not brm_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not brm_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ brm_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ brm_documents.none_issued }}</td>
				<td style="text-align:center">{{ brm_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">ERM-Simulator</td>
				<td style="text-align:center; padding-top:0px;">{% if ers_erm_documents %}{% if ers_erm_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not ers_erm_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not ers_erm_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ ers_erm_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ ers_erm_documents.none_issued }}</td>
				<td style="text-align:center">{{ ers_erm_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Risk Assessment</td>
				<td style="text-align:center; padding-top:0px;">{% if ra_documents %}{% if ra_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not ra_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not ra_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ ra_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ ra_documents.none_issued }}</td>
				<td style="text-align:center">{{ ra_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Incident Investigation</td>
				<td style="text-align:center; padding-top:0px;">{% if acni_documents %}{% if acni_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not acni_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not acni_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ acni_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ acni_documents.none_issued }}</td>
				<td style="text-align:center">{{ acni_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Antipiracy</td>
				<td style="text-align:center; padding-top:0px;">{% if ap_documents %}{% if ap_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not ap_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not ap_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ ap_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ ap_documents.none_issued }}</td>
				<td style="text-align:center">{{ ap_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Ice Navigation</td>
				<td style="text-align:center; padding-top:0px;">{% if in_documents %}{% if in_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not in_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not in_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ in_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ in_documents.none_issued }}</td>
				<td style="text-align:center">{{ in_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Marpol (Annex I,II,V,VI)</td>
				<td style="text-align:center; padding-top:0px;">{% if marpol_documents %}{% if marpol_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not marpol_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not marpol_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ marpol_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ marpol_documents.none_issued }}</td>
				<td style="text-align:center">{{ marpol_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Hazardous Material</td>
				<td style="text-align:center; padding-top:0px;">{% if hazmat_documents %}{% if hazmat_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not hazmat_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not hazmat_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ hazmat_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ hazmat_documents.none_issued }}</td>
				<td style="text-align:center">{{ hazmat_documents.none_expiry }}</td>
			</tr>
			<tr>
				<td colspan="2">Ship Safety Officer</td>
				<td style="text-align:center; padding-top:0px;">{% if soc_documents %}{% if soc_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td><td style="text-align:center; padding-top:0px;">{% if not soc_documents %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}{% if not soc_documents.none_number %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}{% endif %}</td>
				<td style="text-align:center">{{ soc_documents.trainings_certificates.training_issuing_authority }}</td>
				<td style="text-align:center">{{ soc_documents.none_issued }}</td>
				<td style="text-align:center">{{ soc_documents.none_expiry }}</td>
			</tr>
		</table>
		<br>
		<table border="1">
			<tr>
				<td colspan="1">Native language: </td>
				<td colspan="2"><b><u>{{ personal_data.dialect }}</u></b></td>
			</tr>
			<tr>
				<td>English:</td>
				<td style="padding:0px;"> &nbsp;{% if personal_data.english|upper == "VERY GOOD" or personal_data.english|upper == "GOOD" %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}Good</td>
				<td style="padding:0px;"> &nbsp;{% if personal_data.english|upper != "VERY GOOD" and personal_data.english|upper != "GOOD" %}{% if check %}<img src="{{ ressource.image.url|get64:check }}">{% endif %}{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}Basic</td>
			</tr>
			<tr>
				<td>Other language:</td>
				<td style="padding:0px;"> &nbsp;<img src="{{ ressource.image.url|get64:uncheck }}">Good</td>
				<td style="padding:0px;"> &nbsp;<img src="{{ ressource.image.url|get64:uncheck }}">Basic</td>
			</tr>
		</table>	
	</table>
	<br>
	<table border="1">
		<tr>
			<table border="1">
				<tr>
					<th style="text-align: left; color: #000; background: #00CC99;">PREVIOUS SEA SERVICE (Last 10 years)</th>
				</tr>
			</table>
			
		</tr>
		<table border="1">
			<tr>
				<th>VESSEL'S NAME</th>
				<th>TYPE</th>
				<th>ENGINE</th>
				<th>DWT / GRT</th>
				<th>OWNER / MANAGER</th>
				<th>RANK</th>
				<th>SERVICE PERIOD</th>
				<th>SIGN OFF REASON</th>
			</tr>
			{% if sea_service %}
				{% for sea_services in sea_service %}
					<tr>
			        	<td style="text-align:center">{{ sea_services.vessel_name|upper }}</td>
			            <td style="text-align:center">{{ sea_services.vessel_type }}</td>
			            <td style="text-align:center">{{ sea_services.engine_type }}</td>
			            <td style="text-align:center">{{ sea_services.grt }}</td>
			            <td style="text-align:center">{{ sea_services.principal|upper }}</td>
			            <td style="text-align:center">{{ sea_services.rank }}</td>
			            <td style="text-align:center">{{ sea_services.duration_months_days }}</td>
			            <td style="text-align:center">{% if sea_services.cause_of_discharge.cause_of_discharge_abbreviation %}{{ sea_services.cause_of_discharge.cause_of_discharge_abbreviation|upper }}{% else %}{{ sea_services.cause_of_discharge|upper }}{% endif %}</td>
			        </tr>
	        	{% endfor %}
	        {% else %}
	        	{% for x in enesel_sea_service_blank_count %}
	            	<tr>
	                	<td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                    <td style="text-align:center"> &nbsp; </td>
	                </tr>
                {% endfor %}
	        {% endif %}
	</table>
	<table border="1">
		<tr>
			<table border="1">
				<tr>
					<th style="text-align: left; color: #000; background: #00CC99;">SUMMARY OF KNOWLEDGE & EXPERIENCE ACQUIRED</th>
				</tr>
				<tr>
					<td>(Resume your career and describe your experience at sea, type of ships, engines, voyage): </td>
				</tr>
				{% if application_form.essay %}
				<tr>
					<td><u>{{ application_form.essay }}</u></u></b></td>
				</tr>
				{% else %}
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				<tr>
					<td> &nbsp; </td>
				</tr>
				{% endif %}
			</table>
			
		</tr>
		<br>
		<table border="1"> 
		<tr>
			<td>Applicant's Name: <b><u>{{ user_profile.first_name|upper }} {{ user_profile.middle_name|upper }} {{ user_profile.last_name|upper }}</u></b></td>
			<td>Signature: {% if signature %} <img src="{{ ressource.image.url|get64:signature }}"> {% endif %}</td>
			<td>Date: <b><u>{{ today }}</u></b></td>
		</tr>
		</table>
	</table>	
</body>
</html>