{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style type="text/css">
  .navbar {
  background: #2e76b8;
  }
.navbar-toggle{
    height: 40px;
  }
.navbar-right{
  margin-top: 10px;
  }
.footer{
font-size: 12px; 
padding-top: 5px;
background: #fff;
height: 100%;
margin: 15px -25px 0 -20px;   
border-top: 3px solid #2e76b8;  
  }
.navbar-header{
  margin-top: -5px;
  }
.thead-main{
  background: #82ca9c;  
  
  }
.icon-bar{
  background-color: #fff;
  }
.navbar-fixed-top{
  height: 90px;
  border-bottom: 5px solid #04508e;
}
.navbar-brand{
  margin-top: 5px;
}
.navbar-collapse{
  margin-top: 10px;
}
.sidebar{
  position: fixed;
  top: 90px;
  border-right: 2px solid #c0c0c0;
  left: -15px;
  bottom: 0;
  background-color: #ebebeb;
  padding-left: 0px;
  }
.nav-sidebar > li > a{
  padding-left: 20px;
  padding-right: -20px;
  color: #fff !important;
  background-color: #02be9b !important;
  margin-right: -15px;
  }
.nav-sidebar > li > a:hover{
  background-color: #82ca9c;
  color: #fff;
  }
.main{
  margin-top: 80px;
  color: #04508e;
  padding-right: 40px;
  }
.search-btn{
  border-radius: none;
  background: #2e76b8;
  border: 1px solid #2e76b8;  
  }
.search-btn:hover {
  color: #fff;
  background-color: #04508e;
  border-color: #04508e;
}
.search-input{
  border: 1px solid #2e76b8;  
  }
body{
  background: #fafafa;  
  }
.thead-main{
  color: #fff;
  }
  
.pagination > li > a,
.pagination > li > span {
  position: relative;
  background: #82ca9c;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #fff;
  margin-right: 2px;
  text-decoration: none;
  border: 1px solid #82ca9c;
}
  
/* Custom Panel */
  
.panel-body-blue{
  border-bottom: 3px solid #c0c0c0;
  }
.panel-msmi-blue .panel-heading{
    border-bottom: 4px solid #04508e;
  }
.panel-body-green{
    border-bottom: 3px solid #c0c0c0;
  }
.panel-msmi-green .panel-heading{
    border-bottom: 4px solid #02be9b;
  }
.panel-info .panel-heading{
  background-color: #f15922;
  color: #fff;
  }
.panel-info{
  border-color: #f15922;
  }
.filter-drop{
  background: #fafafa;
  box-shadow: none;
  }
.nav-dropdown{
  background: #2e76b8;  
  }
.navmenu{
  background: #2e76b8;
  border-color: #2e76b8;
  box-shadow: none;"
  } 
/* Panel Custom */


.panel-msmi-blue{
  border-color: #2e76b8;
}
.panel-msmi-blue > .panel-heading {
  color: #fff;
  background-color: #2e76b8;
  border-color: 1px solid #2e76b8;
}
.panel-msmi-blue > .panel-heading + .panel-collapse > .panel-body {
  border-color: 1px solid #2e76b8;
}
.panel-msmi-blue > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-msmi-blue > .panel-footer + .panel-collapse > .panel-body-green {
  border-color: 1px solid 2e76b8;
}


.panel-msmi-green {
  border-color: #02be9b;
}
.panel-msmi-green > .panel-heading {
  color: #fff;
  background-color: #82ca9c;
  border-color: 1px solid #02be9b;
}
.panel-msmi-green > .panel-heading + .panel-collapse > .panel-body {
  border-color: 1px solid #02be9b;
}
.panel-msmi-green > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-msmi-green > .panel-footer + .panel-collapse > .panel-body-green {
  border-color: 1px solid 02be9b;
}

/* Button Custom */

.btn-msmi-green {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
}
.btn-msmi-green:focus,
.btn-msmi-green.focus {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
}
.btn-msmi-green:hover {
  color: #fff;
  background-color: #82ca9c;
  border-color: #82ca9c;
}

.btn-msmi-blue {
  color: #fff;
  background-color: #2e76b8;
  border-color: #2e76b8;
}
.btn-msmi-blue:focus,
.btn-msmi-blue.focus {
  color: #fff;
  background-color: #2e76b8;
  border-color: #2e76b8;
}
.btn-msmi-blue:hover {
  color: #fff;
  background-color: #04508e;
  border-color: #04508e;
}

/* Input Group Custom */

.msmi-search{
  background: #2e76b8;
  color: #fff;
  border-color: #2e76b8;
  }

tr:hover{
  cursor: pointer;
  background-color: #02be9b !important;
}

/* Panel Footer  Custom */


.panel-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #2e76b8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-blue {
  color: #fff;
    background-color:#428bca;
}
.btn-blue:hover {
  color: #fff !important;
    background-color:#428bca;
}
.btn-blue:focus {
  color: #fff !important;
    background-color:#428bca;
}
.sidebar-search{
  padding: 30px;
}
.input-group-addon
{
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
   
}
.input-group
{
  margin-top: 10px;
}
.input-form{
  border: 2px solid #02be9b;
  border-radius: 0px;
}
.input-label{
  color: #2e76b8 !important;
}
</style>
<body>
<div id="wrapper">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>

    <a class="navbar-brand" href="#"><img src="/static/img/main.png" width="125" height="60"></a>
            
                </div><!--End of Navbar Header-->
                
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="color: #fff; background: #2e76b8;"><!-- Username -->{% if user.nick_name %} {{ user.nick_name }}{% else %} {{ name }} ({{ request.user }}) {% endif %}</a></li>
                        <li class="dropdown">
<a href="#" class="dropdown-toggle nav-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background: #2e76b8; padding-top:0px;"><img src="{{MEDIA_URL}}{{user.picture}}" width="50" height="50"> <span class="caret"></span></a>
              <ul class="dropdown-menu navmenu ">
                          <li><a href="#"><span class="msmi-logout"> Manage Account</span></a></li>
                          <li><a href="#">Setting</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                        </li>
                  </ul>
          </div><!--End of Navbar Collapse-->
          </div><!--End of Container Fluid-->
    </nav>

<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar-search">
                 
<div class="input-group"><label class="input-label" style="padding-top: 10px; color: #02be9b;">Filter</label> &nbsp;<a href="{% url 'mariners_profiles' %}" class="btn btn-info" role="button"> Reset Filter</a></div>
                
              <form method="POST" id="myform" action="{% url 'mariners_profiles' %}">
                          {% csrf_token %}
              <div class="input-group">
                <span class="input-group-addon input-label" style="color: #2e76b8;">Rank:</span>
                <select name="rank" class="form-control input-form">
                  <option>{% if request.GET.rank %}{{ request.GET.rank }}{% endif %}</option>
                  {% if not request.GET.rank %}
                    {% for ranks in rank %}
                      <option>
                        {{ ranks|upper }}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
                 
                
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon input-label" style="color: #2e76b8;">Vessel Type:</span>
                <select name="vessel_type" class="form-control input-form">
                  <option>{% if request.GET.vessel_type %}{{ request.GET.vessel_type }}{% endif %}</option>
                  {% if not request.GET.vessel_type %}
                    {% for vessel_types in vessel_type %}
                      <option>
                        {{ vessel_types|upper }}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
           
                 
                 
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon input-label" style="color: #2e76b8;">US Visa:</span>
                <select name="us_visa" class="form-control input-form">
                 <option>{% if request.GET.us_visa %}{% if request.GET.us_visa == "YES" %}YES{% else %}NO{% endif %}{% endif %}</option>
                  {% if not request.GET.us_visa %}
                    {% for choices in us_visa reversed %}
                      <option>{% if choices == True %}YES{% else %}NO{% endif %}</option>
                      }
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
           
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon input-label" style="color:#2e76b8;">Schengen Visa:</span>
                <select name="schengen_visa" class="form-control input-form">
                 <option>{% if request.GET.schengen_visa %}{% if request.GET.schengen_visa == "YES" %}YES{% else %}NO{% endif %}{% endif %}</option>
                  {% if not request.GET.schengen_visa %}
                    {% for choices in schengen_visa reversed %}
                      <option>{% if choices == True %}YES{% else %}NO{% endif %}</option>
                      }
                    {% endfor %}
                  {% endif %}
                </select>
            </div>

            <!-- <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon input-label" style="color: #2e76b8;">Barangay:</span>
                <select name="barangay" class="form-control">
                  <option>{% if request.GET.barangay %}{{ request.GET.barangay }}{% endif %}</option>
                  {% if not request.GET.barangay %}
                    {% for barangays in barangay %}
                      <option>
                        {{ barangays|upper }}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
            </div> -->

             <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon input-label" style="color: #2e76b8;">Municipality:</span>
                <select name="municipality" class="form-control input-form">
                  <option>{% if request.GET.municipality %}{{ request.GET.municipality }}{% endif %}</option>
                  {% if not request.GET.municipality %}
                    {% for municipalitys in municipality %}
                      <option>
                        {{ municipalitys|upper }}
                      </option>
                    {% endfor %}
                  {% endif %}
                </select>
            </div>

<!--             <div class="input-group" style="margin-top: 10px;">
            </div> -->
           
                
  </div>
    
    </div><!--End of Sidebar-->
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="panel-heading" style="padding: 15px;"><h1>MANSHIP Mariners</h1>
            <div class="panel panel-msmi-blue">
          </div>
           <!-- <form method="GET"> -->
<div class="panel panel-msmi-green">
  <div class="panel-heading" style="padding: 15px;"><strong>Crew Applicants</strong> 
 </div>
 
 <!--Second Panel-->
      <div class="panel-body panel-body-green">
          <div class="row">

            <!-- <div class="form-group"> -->
              <div class="col-md-4">
                <form method="GET">
                  <div class="input-group form-group">
                      <span class="input-group-btn">
                       <button class="btn btn-blue btn3">Search</button>
                      </span>
                      {{ search.search|add_class:"input-form" }}
                  </div>
                </form>
            </div>
            <div class="col-md-2 pull-right">
                <div class="input-group form-group">
                  <label class="input-group-addon input-label">Per Page:</label>
                  <select class="form-control input-form">
                    <option>10</option>
                      <option>50</option>
                      <option>100</option>
                  </select>
                </div>
            </div>
            <!-- </div> -->
          </div>
          <div class="table table-bordered">
            <table class="table table-striped">
              <thead class="thead-main">
                      <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Rank</th>
                        <th>Age</th>
                        <th>Vessel Type</th>
                        <th>Mobile No.</th>
                        <th>Landline No.</th>
                        <th>US Visa Expiry</th>
                        <th>Schengen Visa Expiry</th>
                        <th>Barangay</th>
                        <th>Municipality</th>
                        <th>Zip</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if mariners_profile %}
                        {% for mariners_profile, personal_data, us_visa, schengen_visa in zipped_data %}
                          <tr onclick="window.open('{% url 'mariners_profile' id=mariners_profile.user.id %}', '_blank')">
                            <td>{{ forloop.revcounter }}</td>  
                            <td>{{ mariners_profile.user.code }}</td>
                            <td>{{ mariners_profile|upper }}</td>
                            <td>{{ mariners_profile.position|upper }}</td>
                            <td>{{ personal_data.age }}</td>
                            <td>{{ personal_data.preferred_vessel_type|upper }}</td>
                            <td>+63{{ personal_data.mobile_1 }}</td>
                            <td>{{ personal_data.landline_1 }}</td>
                            <td>{% if us_visa.us_visa_expiry == None %}NO VISA{% else %}{{ us_visa.us_visa_expiry }}{% endif %}</td>
                            <td>{% if schengen_visa.schengen_visa_expiry == None %}NO VISA{% else %}{{ schengen_visa.schengen_visa_expiry }}{% endif %}</td>
                            <td>{{ personal_data.current_address.current_zip.barangay|upper }}</td>
                            <td>{{ personal_data.current_address.current_zip.municipality|upper }}</td>
                            <td>{{ personal_data.current_address.current_zip }}</td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="7" align="center"><strong>There are no mariners left in the pool at the moment.</strong></td>
                        </tr>
                      {% endif %}
                    </tbody>
            </table>
    </div>
<div class="row">
    <div class="form-inline">
          <div class="col-md-12">
        
    <!-- <p><strong>Showing 1 of 57 of 57 entries</strong></p> -->
    <p><strong>Showing 1 of 1 entries</strong></p>
        <nav class="pull-right" style="margin-top: -55px;">
        <ul class="pagination">
           <!-- <li>
             <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
          </li> -->
          <li class="active"><a href="#">1</a></li>
          <!-- <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
           <li><a href="#">5</a></li> -->
          <!-- <li>
            <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
          </li> -->
        </ul>
        </nav>
        
     </div>
  </div>  
</div>

  
</div>
                    
         
           
    </div><!--End of Main-->

<div class="footer" align="center">
<p><strong>Copyright &copy; 2015 Manila Shipmanagement & Manning, Inc. All rights reserved.</strong></p>          
</div>
</div>      

</div><!--End of Container Fluid-->        
</div><!--End of Wrapper-->
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
  $(function(){
    $("select").change(function(){
      $("#myform").submit();
    });
  });
</script>
{% endblock %}