{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load get_data %}
{# load scanned_documents #}
{% block content %}

<!-- 
  Section: ALL-CAPS
  Sub-section: Capitalize
  Searchable Sections:
    MARINER STATUS
      - Mariner Status
    PERSONAL DATA
      - Permenent Address
      - Current Address
      - Spouse
      - Father
      - Mother
      - Dependents
    SEAFARER'S GOING HISTORY
    REFERRAL
    SCANNED DOCUMENTS
    EDUCATIONAL INFORMATION
      - College
      - Vocational
      - Highschool
      - Elementary
    LAND EMPLOYMENT DETAILS
    BENEFICIARY DETAILS
    ALLOTMENT DETAILS
    LICENSES NATIONAL CERTIFICATE
    FLAG DOCUMENTS
    EMERGENCY DETAILS
    TRAINING CERTIFICATES
    REMARKS
      - Remarks History
    SIGNATURE
-->

<body class="crewing-profile">
  <div id="wrapper">
    <div id="header">
      <div class="container profile-container">
            <h1 class="margin-left-150"><strong>Mariner's Profile</strong></h1>
            <h4 class="margin-left-150">Your Mariner Information Guide</h4>
              <div class="pull-left"><img class="margin-left-negator" src="{% static 'img/mascot-mariners-profile.png' %}" width="120" height="200"></div>
      </div><!---End of Container-->
    </div><!--End of Header-->
  </div>


  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="col-md-2">
        <div class="row"> 
          <div class="sidebar sidebar-no-border text-center form-sidebar"> 
            <label class="input-label">Forms</label>
            <div class="col-md-12">
              <a href="{% url 'manship_form' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-msmi.png' %}" title="Manship" data-toggle="tooltip" data-placement="right" >
              </a>
            </div><!--End of Column-->
            <div class="col-md-12">
              <a href="{% url 'fleet_application_form'  principal='psv' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-hsm.png' %}" title="Hellespont Ship Management GmbH & Co. KG" data-toggle="tooltip"data-placement="right" >
              </a>
            </div><!--End of Column-->
            <div class="col-md-12">
              <a href="{% url 'fleet_application_form'  principal='ionic' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-ionic.png' %}" title="Ionic Shippping (Mgt) Inc." data-toggle="tooltip" data-placement="right">
              </a>
            </div><!--End of Column-->
            <div class="col-md-12">
              <a href="{% url 'fleet_application_form'  principal='enesel' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-enesel.png' %}" title="Enesel S.A." data-toggle="tooltip" data-placement="right">
              </a>
            </div><!--End of Column-->
            <div class="col-md-12">
              <a href="{% url 'fleet_application_form'  principal='athenian' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-athenian.png' %}" title="Athenian Sea Carriers Ltd." data-toggle="tooltip" data-placement="right">
              </a>
            </div><!--End of Column-->
            <div class="col-md-12">
              <a href="{% url 'fleet_application_form'  principal='jumbo' id=user_profile.id %}" target="_blank" class="img-responsive">
                <img src="{% static 'img/btn-jumbo.png' %}" title="Jumbo Maritime" data-toggle="tooltip" data-placement="right">
              </a>
            </div><!--End of Column-->
          </div><!--End of Sidebar-->
        </div><!--End of Row-->
      </div>

      <div class="col-md-8">
      <!--Application Status
      =================================-->
        <div id="step0" class="panel panel-blue" style="margin-top: 20px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#mariner-status" aria-expanded="false"><strong>MARINER STATUS</strong> <button class="btn btn-primary background-msmi-green event-propagation update-mariner-status">UPDATE</button> <a onclick="href_override('?status');" class="btn btn-danger event-propagation">RETURN TO APPLICATION PROFILE</a></div>
          <div id="mariner-status" class="panel-collapse collapse in" aria-expanded="true">
           {% include "mariner-profile/ajax-update-sub-profiles/mariner-status.html" %}        
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->   

        <!--Personal Data
        ==========================================-->
        <div id="step1" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail1" aria-expanded="false"><strong>PERSONAL DATA</strong></div>
          <div id="detail1" class="panel-collapse collapse in" aria-expanded="true">              
            <div class="panel-body">
              <p><strong>Personal Info</strong> <button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="personal-info">UPDATE</button></p>
              <!-- <div class="form-group in">   -->
                {% include "mariner-profile/ajax-update-sub-profiles/personal-info.html" %}

                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#permanent-address" aria-expanded="false"><strong>Permanent Address</strong> <button class="btn btn-primary update-mariner background-msmi-blue" data-params="permanent-address event-propagation">UPDATE</button></p>
                <div class ="panel-collapse collapse" aria-expanded="false" id="permanent-address">
                  {% include "mariner-profile/ajax-update-sub-profiles/permanent-address.html" %}
                </div>
                
                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#current-address" aria-expanded="false"><strong>Current Address</strong><button class="btn btn-primary update-mariner background-msmi-blue" data-params="current-address event-propagation">UPDATE</button></p>
                <div class ="panel-collapse collapse" aria-expanded="false" id="current-address">
                  {% include "mariner-profile/ajax-update-sub-profiles/current-address.html" %}
                </div>

                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#spouse" aria-expanded="false"> {% if personal_data.civil_status.civil_status == 'Partner' %} Partner {% else %} Spouse {% endif %} </strong><button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="spouse">UPDATE</button></p>
                <div class ="panel-collapse collapse" aria-expanded="false" id="spouse">
                  {% include "mariner-profile/ajax-update-sub-profiles/spouse.html" %}
                </div>
                
                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#father" aria-expanded="false"><strong>Father</strong><button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="father">UPDATE</button></p>
                <div id="father" class="panel-collapse collapse" aria-expanded="false"> 
                  {% include "mariner-profile/ajax-update-sub-profiles/father.html" %}
                </div>
                
                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#mother" aria-expanded="false"><strong>Mother</strong><button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="mother">UPDATE</button></p>
                <div id="mother" class="panel-collapse collapse" aria-expanded="false">   
                  {% include "mariner-profile/ajax-update-sub-profiles/mother.html" %}
                </div>

                <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#dependents" aria-expanded="false" ><strong>Dependents ({{dependents_num_label}})</strong><button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="dependents">UPDATE</button></p>
                <div id="dependents" class="panel-collapse collapse" aria-expanded="false">
                  {% include "mariner-profile/ajax-update-sub-profiles/dependents.html" %}
                </div>
              <!-- </div>End of Form Group -->
            </div><!--End of Panel Body-->
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                    
        <!--Seaferer Seagoing History
        ============================-->            
        <div id="step2" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail2"   aria-expanded="true"><strong>SEAFARER'S SEAGOING HISTORY ({{sea_service_num_label}})</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>  
          <div id="detail2" class="panel-collapse collapse in" aria-expanded="false"> 
            {% include "mariner-profile/ajax-update-sub-profiles/sea-service.html" %}
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                
        <!--Reference
        ============================-->            
        <div id="step3" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail3"   aria-expanded="false"><strong>REFERRAL</strong></div>                  
            <div id="detail3" class="panel-collapse collapse" aria-expanded="false"> 
              <div class="panel-body"> 
                <b>THIS PERSON HAS NOT MADE ANY REFERRALS YET AT THE MOMENT</b>
              </div><!--End of Panel Body-->
            </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->

        <div id="step13" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#scanned-documents"   aria-expanded="false"><strong>SCANNED DOCUMENTS</strong></div>                  
          <div id="scanned-documents" class="panel-collapse collapse" aria-expanded="false"> 
            <div class="panel-body"> 
              <div class="form-group">
                {# scanned_documents_html #}
                {{ scanned_document_html }}
              </div>
            </div><!--End of Panel Body-->
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->

                    
        <!--Educational Information
        ====================================-->
        <div id="step4" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail4" class="" aria-expanded="true"><strong>EDUCATIONAL INFORMATION</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>  
          <div id="detail4" class="panel-collapse collapse" aria-expanded="false">  
            {% include "mariner-profile/ajax-update-sub-profiles/educational-information.html" %}           
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                    
        <!--Land Employment
        ==================================-->                
        <div id="step5" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail5" aria-expanded="false"><strong>LAND EMPLOYMENT DETAILS (if any)</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>
          <div id="detail5" class="panel-collapse collapse" aria-expanded="false">               
            {% include "mariner-profile/ajax-update-sub-profiles/land-employment.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                    
        <!--Beneficiary Details
        ================================= -->
        <div  id="step6" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail6" aria-expanded="false"><strong>BENEFICIARY DETAILS (In case of Death/Disability)</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>
          <div id="detail6" class="panel-collapse collapse" aria-expanded="false">               
            {% include "mariner-profile/ajax-update-sub-profiles/beneficiary.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                
        <!--Allotment Details
        ===================================-->            
        <div id="step7" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail7" aria-expanded="false"><strong>ALLOTMENT DETAILS</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>
          <div id="detail7" class="panel-collapse collapse" aria-expanded="false">               
            {% include "mariner-profile/ajax-update-sub-profiles/allotment.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                    
        <!--Licenses National Certificate
        =========================================-->   
        <div id="step8" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail8"  aria-expanded="false"><strong>LICENSES AND NATIONAL CERTIFICATES</strong></div>  
          <div id="detail8" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#licenses" aria-expanded="false"><strong>Licenses</strong> <button class="btn btn-primary update-mariner background-msmi-blue event-propagation">UPDATE</button></p>
              <div class ="panel-collapse collapse" aria-expanded="false" id="licenses">               
                {% include "mariner-profile/ajax-update-sub-profiles/licenses.html" %}             
              </div>                                        
    
              <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#national-certificates" aria-expanded="false"><strong>National Certificates</strong> <button class="btn btn-primary update-mariner background-msmi-blue event-propagation" data-params="National">UPDATE</button></p>
              <div class ="panel-collapse collapse" aria-expanded="false" id="national-certificates">   
                {% include "mariner-profile/ajax-update-sub-profiles/national-certificates.html" %}       
              </div> 
    
              <p class="cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#coc-visas" aria-expanded="false"><strong>COC and Visas</strong> <button class="btn btn-primary update-mariner background-msmi-blue event-propagation">UPDATE</button></p>
              <div class ="panel-collapse collapse" aria-expanded="false" id="coc-visas">   
                {% include "mariner-profile/ajax-update-sub-profiles/coc_visas.html" %}       
              </div><!--End of Panel Body-->
            </div>
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
                
        <!--Flag Document
        =================================-->            
        <div id="step9" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail9" aria-expanded="false"><strong>FLAG DOCUMENTS</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>
          <div id="detail9" class="panel-collapse collapse" aria-expanded="false">               
            {% include "mariner-profile/ajax-update-sub-profiles/flags.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->
        
        <!--Emergency Details
        ==============================-->
        <div id="step10" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail10" aria-expanded="false"><strong>EMERGENCY DETAILS</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>  
          <div id="detail10" class="panel-collapse collapse" aria-expanded="false">             
            {% include "mariner-profile/ajax-update-sub-profiles/emergency.html" %}
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->

        <!--National Certificates and Travel Documents
        ================================================-->                                    
        <div  id="step11" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#detail11" aria-expanded="false"><strong>TRAINING CERTIFICATES</strong><button class="btn btn-primary update-mariner event-propagation"    data-params="Certificates">UPDATE</button></div>
          <div id="detail11" class="panel-collapse collapse" aria-expanded="false">              
            {% include "mariner-profile/ajax-update-sub-profiles/certificates.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary--> 
                
        <!--Evaluation
        =================================-->
        <div id="step12" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#evaluation" aria-expanded="false"><strong>REMARKS</strong><button class="btn btn-primary update-mariner event-propagation">UPDATE</button></div>
          <div id="evaluation" class="panel-collapse collapse" aria-expanded="false"> 
            {% include "mariner-profile/ajax-update-sub-profiles/evaluation.html" %}       
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->            

        <!--Signature
        =================================-->
        <div id="step13" class="panel panel-blue">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#signature" aria-expanded="false"><strong>SIGNATURE</strong></div>
          <div id="signature" class="panel-collapse collapse" aria-expanded="false"> 
            <div class="panel-body">
              <img src="{{ MEDIA_URL }}{{ mariners_profile.signature }}" width="100%">
              </div><!--End of Panel Body-->
          </div><!--End of Collapse-->
        </div><!--End of Panel Primary-->     
      </div><!--End of Col-9-->          
    <!--End of Sidebar Fixed-->
      
      <div class="col-md-2 laptop-padding-left-negator">
        <div class="sidebar right-sidebar">
          <div class="text-center"><img src="{{ MEDIA_URL }}{{ mariners_profile.picture }}"></div>
          <label for="change-picture" type="file" class="btn background-msmi-blue form-control btn-primary input-group">Change Picture</label>
          <form id="form-change-picture" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type="file" class="hide" id="change-picture"> -->
            <div class="hide">
              {{mariners_picture_form.picture|attr:"id:change-picture"|add_class:"on-submit-class"}}
              {{mariners_picture_form.picture_last_modified}}
            </div>
            {% if mariners_profile.picture_last_modified %}
              <p style="font-size: 12px;">Last Picture Change: {{mariners_profile.picture_last_modified}}</p>
            {% endif %}
            {% if picture_age_indicator >= 730 and picture_age_indicator != '' %}
              <strong>PICTURE already over two years</strong>
            {% endif %}
          </form>
          <div class="input-group">
            <input type="text" class="form-control input-form"  value="{{ user_profile.first_name }} {{ user_profile.middle_name }} {{ user_profile.last_name }}" readonly="">
          </div><!--End of Input Group-->
          <div class="input-group">
            <div class="input-group">
              <label class="input-group-addon input-label">Code:</label>
              <input type="text" class="form-control input-form" value="{{ user_profile.code }}" readonly="" >
            </div>
            <div class="input-group">
              <label class="input-group-addon input-label">Position:</label>
              {{mariners_position_form.position|add_class:"form-control input-form"}}
            </div>
          </div><!--End of Input Group-->
      <!--             <div class="input-group" style="width:100%; text-align: center;">
                    <label class="input-group-addon input-label">Qualified Principal:</label>
                    {# principal_select_form.principal #}
                 </div>
                <div id="qualified-principals-vessel-type"></div>
                <div id="qualified-principals-optional-button"></div> -->
                <!-- <div class="input-group" style="width:100%; text-align: center;">
                      <a href="#" class="btn btn-msmi" target="_blank"><label class="glyphicon glyphicon-print"><strong>Export</strong></label></a>
                      <a href="#" class="btn btn-msmi"><label class="glyphicon glyphicon-export"><strong>Interview Form</strong></label></a>
                  </div> --><!--End of Input Group-->
          <ul class="nav bs-docs-sidenav profile-sidebar">
            <li>
              <a href="#step0">Mariner Status</a>
            </li>
            <li>
              <a href="#step1">Personal Data</a>
            </li>
            <li>
              <a href="#step2">Seaferer's Seagoing History</a>
            </li>
            <li>
              <a href="#step3">Referral</a>
            </li>
            <li>
              <a href="#step13">Scanned Documents</a>
            </li>
            <li>
              <a href="#step4">Educational Information</a>
            </li>
            <li>
              <a href="#step5">Land Employment Details</a>
            </li>
            <li>
              <a href="#step6">Beneficiary Details</a>
            </li>
            <li>
              <a href="#step7">Allotment Details</a>
            </li>
            <li>
              <a href="#step8">Licenses and National Certificates</a>
            </li>
            <li>
              <a href="#step9">Flag Documents</a>
            </li>
            <li>
              <a href="#step10">Emergency Details</a>
            </li>
            <li>
              <a href="#step11">Training Certificates</a>
            </li>
            <li>
              <a href="#step12">Evaluation</a>
            </li>
            <li>
              <a href="#step13">Signature</a>
            </li>
            <li>
              <a class="back-to-top" href="#top"><strong>Back to top</strong></a>
            </li>
          </ul>
        </div><!--End of Sidebar-->
      </div><!--End of Col-3-->
    </div><!--End of Container-->
  </div><!--End of Page Wrapper-->
</div><!--End of Wrapper-->

  
  <div class="modal fade modal-size-600" id="modal-mariner-status-notification" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="signatureLabel">MARINER STATUS CHANGE <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
        </div>
        <div class="modal-body mariner-status-notification modal-body-padding">
          <h3>A notification will be sent to Captain Albert.</h3>
          <h3>A notification will be sent to crewing.</h3>
           <label for="scanned-principal-acknowledgement" type="file" class="btn background-msmi-blue btn-primary">Attach Scanned Document</label> 
           <input type="file" id="scanned-principal-acknowledgement" class="hide">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Click to Send Notification</button>
        </div>
      </div>
    </div> 
  </div>

  <div class="modal fade" id="modal-mariner-history-status-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="signatureLabel">COMMENTS <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
        </div>
        <div class="modal-body mariner-history-status-comment text-center">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div> 
  </div>

  {% if picture_age_indicator >= 730 and picture_age_indicator != '' %}              
    <div class="modal fade modal-size-500" id="modal-picture-age-indicator" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="signatureLabel">PICTURE AGE INDICATOR<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
          </div>
          <div class="modal-body mariner-history-status-comment text-center">
            <img src="{{ MEDIA_URL }}{{ mariners_profile.picture }}">
            <h3>PLEASE BE INFORMED THAT THE MARINER'S PICTURE IS ALREADY 2 YEARS AND OVER</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div> 
    </div>
  {% endif %}

{% endblock %}
{% block extra_scripts %}
  <script type="text/javascript">
    $(function(){
      // $( document ).ajaxError(function( event, jqxhr, settings, thrownError ) {
      //     //alert('Error encountered while communicating with the server. (' + thrownError + ')');
      //     document.write(jqxhr.responseText);
      // });

      {% if picture_age_indicator >= 730 %}
        $("#modal-picture-age-indicator").modal("show");
      {% endif %}

      $(".sidebar a").click(function(){
        href = $(this).attr("href");
        href = href.replace("#", "");
        aria_expanded = $("#"+href).children().attr("aria-expanded");
        if(aria_expanded == 'false'){
          $("#"+href).children().click();
        }
      });
      $(".mariner-principal-status").change(function(){
        x = $('option:selected', this).text();
        $(this).parent().parent().parent().after("<div class='col-md-12'><label for='non-conforming-seafarer-reason' class='input-label'>Non-Conforming Seafarer Reason</label><textarea id='non-conforming-seafarer-reason' class='form-control'>dasda</textarea></div>");
      });
      $("body").on("click", ".mariner-history-status-comments", function(){ 
        comment = $(this).attr('data-comments'); 
        $(".mariner-history-status-comment").text(comment);
        $("#modal-mariner-history-status-comment").modal('show');
      });

      $(".update-mariner").click(function(){
        if($(this).hasClass('mariner-status-notification')){
          $("#modal-mariner-status-notification").modal("show");
          return;
        }
        child = $(this);
        parent = $(this).parent();
        parent_html = $(this).parent().html();
        parent_next_html = $(this).parent().next().html();
        img = "{% static 'img/updating.gif' %}";
        mini_img = "{% static 'img/mini-loading-x.gif' %}";
        finish_img = "{% static 'img/finish.png' %}";
        var url = "{% url 'mariners_profile' slug=mariners_profile.user.slug %}";
        var csrfmiddlewaretoken = "{{ csrf_token }}";

        var child = $(this);
        var parent = $(this).parent();
        // var parent_html = $(this).parent().html();
        var parent_next = $(this).parent().next();
        // var parent_next_html = $(this).parent().next().html();
        var required_num = 0;

        var json_name_val = {csrfmiddlewaretoken: csrfmiddlewaretoken};
        if($(this).attr('data-params')){
          param = $(this).attr('data-params');
          json_name_val['param'] = param;
        }
        
        // if(parent_next.hasClass('in')){
          parent_next.find('input.required, select.required, textarea.required').each(function(){
            val = $(this).val();
            if(val == '' || val == 0){
              required_num++;
              if($(this).parent().is('td')){
                $(this).parent().append("<ul class='errorlist'><li>This field is required</li></ul>");
              }else{
                $(this).parent().parent().append("<ul class='errorlist'><li>This field is required</li></ul>");
              }
            }
          });

          // parent_next.find('input.required-table, select.required-table, textarea.required-table').each(function(){
          //   val = $(this).val();
          //   if(val == '' || val == 0){
          //     required_num++;
          //     label = $(this).prev().text();
          //     $(this).parent().parent().append("<ul class='errorlist'><li>This field is required</li></ul>");
          //   }
          // });

          if(required_num == 0){
            parent_next.find('input, select, textarea').each(function(){
              if($(this).attr('type') == 'radio'){
                if($(this).is(':checked')){
                  name = $(this).attr('name');
                  value = $(this).val();
                }else{
                  $(this).removeAttr('name');
                }
              }
              name = $(this).attr('name');
              value = $(this).val();
              json_name_val[name] = value;
            });
          }
        // }
        // console.log(json_name_val);

        // if(parent.next().hasClass('in')){
          if(required_num == 0){
            child.parent().next().html('<div class="text-center"><img src = "'+img+'"></div>');  
            // child.parent().html('<div class="update-mariner background-inherit"><img src = "'+mini_img+'"></div>');
            $.post(url, json_name_val, function(result){
              parent_next.html(result);
            });
          }

          if($(this).hasClass('update-mariner-status')){
            $(this).removeClass('update-mariner');
            $(this).addClass('mariner-status-notification');
          }
        // } 
      });

      $(".add-more-fields-3").click(function(){
        var count = -1;
        var child = $(this);
        var parent = $(this).parent();
        var parent_html = $(this).parent().html();
        var parent_next = $(this).parent().parent().parent().next().find('tr').first();
        var parent_next_html = $(this).parent().parent().parent().next().find('tr').first().html();

        // parent_next_row_html = $(this).parent().next().find('.adding-row').last().html();
        total_forms = $(this).parent().siblings(".total-forms").find('input').first();

        // alert(parent_next_html);
        // document.write(parent_next_html)

        parent_next.before("<tr>"+parent_next_html+"</tr>");

        count_tr = $(this).parent().parent().parent().next().find('tr');

        count_tr.each(function(){
          count++;
        });

        parent_next = $(this).parent().parent().parent().next().find('tr').first();

        select = parent_next.find('select');
        input = parent_next.find('input');

        select.each(function(){
          id_select_this = $(this).attr("id");
          name_select_this = $(this).attr("name");
          replace_id_select = id_select_this.match(/\d+/)[0] // "3
          replace_id_select = count;
          replace_id_select = id_select_this.replace( /[\d]/g, replace_id_select );
          replace_name_select = name_select_this.match(/\d+/)[0] // "3
          replace_name_select = count;
          replace_name_select = name_select_this.replace( /[\d]/g, replace_name_select );
          $(this).attr("id", replace_id_select);
          $(this).attr("name", replace_name_select);
        });

        input.each(function(){
          // $("#id_married_date").prop("disabled", true);
          // alert($(this).prop("disabled"));
          if($(this).prop("disabled") == false ) {
            id_input_this = $(this).attr("id");
            name_input_this = $(this).attr("name");
            replace_id_input = id_input_this.match(/\d+/)[0] // "3
            replace_id_input = count;
            replace_id_input = id_input_this.replace( /[\d]/g, replace_id_input );
            replace_name_input = name_input_this.match(/\d+/)[0] // "3
            replace_name_input = count;
            replace_name_input = name_input_this.replace( /[\d]/g, replace_name_input );
            $(this).attr("id", replace_id_input);
            $(this).attr("name", replace_name_input);
          }
        });

        input.val('');
        select.val('');

        total_forms.val(parseInt(total_forms.val())+1);
      });

      $(".add-more-fields-2").click(function(){
        var count = -1;
        var child = $(this);
        var parent = $(this).parent();
        var parent_html = $(this).parent().html();
        var parent_next = $(this).parent().next();
        var parent_next_html = $(this).parent().next().html();

        parent_next_row_html = $(this).parent().next().find('.adding-row').last().html();
        total_forms = $(this).parent().siblings(".total-forms").find('input').first();

        parent_next.before("<div class='panel-body'>"+parent_next_html+"</div>");

        var parent_next = $(this).parent().next();

        // parent_next_row = $(this).parent().next().find('.panel-body').last();
        count_panel_body = $(this).parent().siblings('.panel-body');

        count_panel_body.each(function(){
          count++;
        });

        select = parent_next.find('select');
        input = parent_next.find('input');
        p = parent_next.find('p');
        p.html('');

        select.each(function(){
          id_select_this = $(this).attr("id");
          name_select_this = $(this).attr("name");
          replace_id_select = id_select_this.match(/\d+/)[0] // "3
          replace_id_select = count;
          replace_id_select = id_select_this.replace( /[\d]/g, replace_id_select );
          replace_name_select = name_select_this.match(/\d+/)[0] // "3
          replace_name_select = count;
          replace_name_select = name_select_this.replace( /[\d]/g, replace_name_select );
          $(this).attr("id", replace_id_select);
          $(this).attr("name", replace_name_select);
        });

        input.each(function(){
          id_input_this = $(this).attr("id");
          name_input_this = $(this).attr("name");
          replace_id_input = id_input_this.match(/\d+/)[0] // "3
          replace_id_input = count;
          replace_id_input = id_input_this.replace( /[\d]/g, replace_id_input );
          replace_name_input = name_input_this.match(/\d+/)[0] // "3
          replace_name_input = count;
          replace_name_input = name_input_this.replace( /[\d]/g, replace_name_input );
          $(this).attr("id", replace_id_input);
          $(this).attr("name", replace_name_input);
        });

        input.val('');
        select.val('');

        total_forms.val(parseInt(total_forms.val())+1);

      });

      $(".add-more-fields-1").click(function(){
        child = $(this);
        parent = $(this).parent();
        parent_html = $(this).parent().html();
        parent_next = $(this).parent().next();
        parent_next_html = $(this).parent().next().html();
        
        parent_next_row_html = $(this).parent().next().find('.adding-row').last().html();
        total_forms = $(this).parent().siblings(".total-forms").find('input').first();

        parent_next.append("<div class='row adding-row'>"+parent_next_row_html+"</div>");

        parent_next_row = $(this).parent().next().find('.adding-row').last();
        select = parent_next_row.find('select');
        input = parent_next_row.find('input');

        select.each(function(){
          id_select_this = $(this).attr("id");
          name_select_this = $(this).attr("name");
          replace_id_select = id_select_this.match(/\d+/)[0] // "3
          replace_id_select = parseInt(replace_id_select)+1;
          replace_id_select = id_select_this.replace( /[\d]/g, replace_id_select );
          replace_name_select = name_select_this.match(/\d+/)[0] // "3
          replace_name_select = parseInt(replace_name_select)+1;
          replace_name_select = name_select_this.replace( /[\d]/g, replace_name_select );
          $(this).attr("id", replace_id_select);
          $(this).attr("name", replace_name_select);
        });

        input.each(function(){
          id_input_this = $(this).attr("id");
          name_input_this = $(this).attr("name");
          replace_id_input = id_input_this.match(/\d+/)[0] // "3
          replace_id_input = parseInt(replace_id_input)+1;
          replace_id_input = id_input_this.replace( /[\d]/g, replace_id_input );
          replace_name_input = name_input_this.match(/\d+/)[0] // "3
          replace_name_input = parseInt(replace_name_input)+1;
          replace_name_input = name_input_this.replace( /[\d]/g, replace_name_input );
          $(this).attr("id", replace_id_input);
          $(this).attr("name", replace_name_input);
        });

        input.val('');
        select.val('');

        total_forms.val(parseInt(total_forms.val())+1);
      });

      $('.sea-tb').find('.date-joined').each(function(){
        date_joined = $(this).val();
        date_joined = new Date(date_joined);
        // alert(date_joined);
        date_left = $(this).parent().next().children().val();
        date_left = new Date(date_left);
        duration = Math.abs(date_left.getTime() - date_joined.getTime());
        duration = Math.ceil(duration / (1000 * 3600 * 24));
        if(isNaN(duration)){
          duration = '';
        }else{
          months = Math.floor( duration/30 )+" month/s & ";
          days = duration % 30+ " day/s ";
          duration = months+days;
        }
        $(this).parent().next().next().children().val(duration);
      });

      {# scanned_js #}
      {{ scanned_js }}
    });
  </script>
{% endblock %}