{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<body class="crewing-index">
  <div id="wrapper">
  	<nav class="navbar navbar-fixed-top">
  		<div class="container-fluid">
  			<div class="navbar-header extra-margin-navbar-header">
  				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  							<span class="sr-only">Toggle navigation</span>
  							<span class="icon-bar"></span>
  							<span class="icon-bar"></span>
  							<span class="icon-bar"></span>
  				</button>
          <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/img/main.png" width="125" height="60"></a>          		
        </div><!--End of Navbar Header-->
                
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  				<ul class="nav navbar-nav navbar-right extra-margin-navbar-right">
  					<li>
              <a href="#" class="margin-top-negator account-landing-picture-identifier"><!-- Username -->{% if user.nick_name %} {{ user.nick_name }}{% else %} {{ name }} ({{ request.user }}) {% endif %}</a>
            </li>
  					<li class="dropdown">
              <a href="#" class="dropdown-toggle nav-dropdown padding-top-negator" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% if user_profile.picture %}{{MEDIA_URL}}{{user_profile.picture}}{% else %}{% static 'img/user.png' %}{% endif %}" width="50" height="50"> <span class="caret"></span></a>
        		  <ul class="dropdown-menu navmenu ">
  							<li><a href="#"><span class="msmi-logout"> Manage Account</span></a></li>
  							<li><a href="#">Setting</a></li>
  							<li role="separator" class="divider"></li>
  							<li><a href="{% url 'logout' %}">Logout</a></li>
    					</ul>
  					</li>
  			  </ul>
    		</div><!--End of Navbar Collapse-->
  		</div><!--End of Container Fluid-->
  	</nav>

    <div class="row">
    	<div class="col-sm-3 col-md-2 sidebar laptop-sidebar">
    		<div class="sidebar-search">
        <div class="input-group display-table"><label class="input-label">Filter</label> &nbsp;<a href="{% url 'application_profiles' %}" class="btn btn-info btn-msmi-blue" role="button"> Reset Filter</a></div>
              
        <form method="POST" id="myform" action="{% url 'application_profiles' %}">
          {% csrf_token %}
          <div class="input-group">
            <span class="input-group-addon input-label">Rank:</span>
            <select name="rank" class="form-control input-form">
              <option>{% if request.GET.rank %}{{ request.GET.rank }}{% endif %}</option>
              {% if not request.GET.rank %}
                {% for ranks in rank %}
                  <option>
                    {{ ranks|upper }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon input-label">Vessel Type:</span>
            <select name="vessel_type" class="form-control input-form">
              <option>{% if request.GET.vessel_type %}{{ request.GET.vessel_type }}{% endif %}</option>
              {% if not request.GET.vessel_type %}
                {% for vessel_types in vessel_type %}
                  <option>
                    {{ vessel_types|upper }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon input-label">US Visa:</span>
            <select name="us_visa" class="form-control input-form">
             <option>{% if request.GET.us_visa %}{% if request.GET.us_visa == "YES" %}YES{% else %}NO{% endif %}{% endif %}</option>
              {% if not request.GET.us_visa %}
                {% for choices in us_visa reversed %}
                  <option>{% if choices == True %}YES{% else %}NO{% endif %}</option>
                  }
                {% endfor %}
              {% endif %}
            </select>
          </div>
         
          <div class="input-group">
            <span class="input-group-addon input-label">Schengen Visa:</span>
            <select name="schengen_visa" class="form-control input-form">
             <option>{% if request.GET.schengen_visa %}{% if request.GET.schengen_visa == "YES" %}YES{% else %}NO{% endif %}{% endif %}</option>
              {% if not request.GET.schengen_visa %}
                {% for choices in schengen_visa reversed %}
                  <option>{% if choices == True %}YES{% else %}NO{% endif %}</option>
                  }
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="input-group form-group hide">
            <label class="input-group-addon input-label">Per Page:</label>
            <select class="form-control input-form crew_on_table" name="crew_on_table">
              {% for x in per_page_list %}
                <option>{{ x }}</option>
              {% endfor %}
            </select>
          </div>

           <div class="input-group">
            <span class="input-group-addon input-label">Municipality:</span>
            <select name="municipality" class="form-control input-form">
              <option>{% if request.GET.municipality %}{{ request.GET.municipality }}{% endif %}</option>
              {% if not request.GET.municipality %}
                {% for municipalitys in municipality %}
                  <option>
                    {{ municipalitys|upper }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon input-label">Status:</span>
            <select name="status" class="form-control input-form">
              <option>{% if request.GET.status %}{{ request.GET.status }}{% endif %}</option>
              {% if not request.GET.status %}
                {% for status in status %}
                  <option>
                    {{ status|upper }}
                  </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
        </div>
      </div><!--End of Sidebar-->
    
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="panel-heading"><h1>MANSHIP Applicants</h1>
        	<div class="panel panel-msmi-blue"></div>
          <!-- <form method="GET"> -->
          <div class="panel panel-msmi-green">
          	<div class="panel-heading panel-body"><strong>Crew Applicants</strong> 
            </div>
 
            <!--Second Panel-->
          	<div class="panel-body panel-border-bottom-green">
            	<!-- <p style="color: #00aeef;"><strong>Note:</strong>&nbsp;<i>Detailed instructions will be written here.</i></p> -->
              <div class="row">
                <!-- <div class="form-group"> -->
                <div class="col-md-4">
                  <form method="GET">
                    <div class="input-group form-group">
                      <span class="input-group-btn">
                       <button class="btn btn-msmi-blue">Search</button>
                      </span>
                      {{ search.search|add_class:"input-form" }}
                    </div>
                  </form>
                </div>
                <div class="col-md-3 pull-right above-table-search-section">
                  <div class="input-group form-group">
                    <label class="input-group-addon input-label">Per Page:</label>
                    <select class="form-control input-form crew_on_table" name="crew_on_table">
                      {% for x in per_page_list %}
                        <option>{{ x }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="row">
                <div class="form-inline">
                  <div class="col-md-12">   
                    <!-- <p><strong>Showing 1 of 57 of 57 entries</strong></p> -->
                    <span class="pull-left"><strong>Showing {{mariners_profile.number}} of {{mariners_profile.paginator.num_pages}} entries</strong></span>
                    <nav class="pull-right">
                      <ul class="pagination margin-top-negator">
                         
                        {#params#}
                        {% if mariners_profile.has_previous %}
                          <li><a href="{{ param_connector }}page={{mariners_profile.previous_page_number}}{% if params != '?' %}{{params}}{% endif %}">{{mariners_profile.previous_page_number}}</a></li>
                        {% endif %}
                        <li class="active"><a>{{mariners_profile.number}}</a></li>
                        {% if mariners_profile.has_next %}
                          <li><a href="{{ param_connector }}page={{mariners_profile.next_page_number}}{% if params != '?' %}{{params}}{% endif %}">{{mariners_profile.next_page_number}}</a></li>
                        {% endif %}
                      </ul>
                    </nav>
                  </div>
                </div>  
              </div>
            	<div class="table table-bordered">
            		<table class="table table-striped main-table">
            			<thead class="thead-main">
                  	<tr>
                    	<th>#</th>
                      <th>Name</th>
                      <th>Rank</th>
                      <th>Age</th>
                      <th>Vessel Type</th>
                      <th>Mobile No.</th>
                      <th>Landline No.</th>
                      <th>US Visa Expiry</th>
                      <th>Schengen Visa Expiry</th>
                      <th>Barangay</th>
                      <th>Municipality</th>
                      <th>Zip</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if mariners_profile %}
                      {% for mariners_profile, personal_data, us_visa, schengen_visa in zipped_data %}
                        <tr onclick="window.open('{% url 'application_profile' slug=mariners_profile.user.slug %}', '_blank')">
                          <td>{{ forloop.revcounter }}</td>  
                          <td>{{ mariners_profile|upper }}</td>
                          <td>{{ mariners_profile.position|upper }}</td>
                          <td>{{ personal_data.age }}</td>
                          <td>{{ personal_data.preferred_vessel_type|upper }}</td>
                          <td>+63{{ personal_data.mobile_1 }}</td>
                          <td>{{ personal_data.landline_1 }}</td>
                          <td>{% if us_visa.us_visa_expiry == None %}NO VISA{% else %}{{ us_visa.us_visa_expiry }}{% endif %}</td>
                          <td>{% if schengen_visa.schengen_visa_expiry == None %}NO VISA{% else %}{{ schengen_visa.schengen_visa_expiry }}{% endif %}</td>
                          <td>{{ personal_data.current_address.current_zip.barangay|upper }}</td>
                          <td>{{ personal_data.current_address.current_zip.municipality|upper }}</td>
                          <td>{{ personal_data.current_address.current_zip }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="7" align="center"><strong>There are no mariners left in the pool at the moment.</strong></td>
                      </tr>
                    {% endif %}
                  </tbody>
            		</table>
            	</div>
              <div class="row">
                <div class="form-inline">
                  <div class="col-md-12">   
                    <!-- <p><strong>Showing 1 of 57 of 57 entries</strong></p> -->
                    <span class="pull-left"><strong>Showing {{mariners_profile.number}} of {{mariners_profile.paginator.num_pages}} entries</strong></span>
                    <nav class="pull-right">
                      <ul class="pagination margin-top-negator">
                         
                        {#params#}
                        {% if mariners_profile.has_previous %}
                          <li><a href="{{ param_connector }}page={{mariners_profile.previous_page_number}}{% if params != '?' %}{{params}}{% endif %}">{{mariners_profile.previous_page_number}}</a></li>
                        {% endif %}
                        <li class="active"><a>{{mariners_profile.number}}</a></li>
                        {% if mariners_profile.has_next %}
                          <li><a href="{{ param_connector }}page={{mariners_profile.next_page_number}}{% if params != '?' %}{{params}}{% endif %}">{{mariners_profile.next_page_number}}</a></li>
                        {% endif %}
           <!--               -->
                        <!-- <li class="previous">
                           <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li> -->
                        <!-- {% for range_page in range_pages %}
                          <li {% if range_page == page %}class="active"{% endif %} ><a href="{{params}}&page={{range_page}}">{{range_page}}</a></li>
                        {% endfor %} -->
                        <!-- <li class="active"><a href="{{params}}&page=1">1</a></li>
                        <li><a href="{{params}}&page=2">2</a></li>
                        <li><a href="{{params}}&page=3">3</a></li> -->
                        <!-- <li><a href="{{params}}&page=4">4</a></li>
                        <li><a href="{{params}}&page=5">5</a></li> -->
                        <!-- <li class="next">
                          <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li> -->
                      </ul>
                    </nav>
                  </div>
                </div>  
              </div>
            </div>
          </div><!--End of Main-->

          <div class="footer text-center">
            <p><strong>Copyright &copy; {% now "Y" %} Manila Shipmanagement & Manning, Inc. All rights reserved.</strong></p>          
          </div>
        </div>      
      </div><!--End of Container Fluid-->        
    </div><!--End of Wrapper-->
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
  $(function(){
    $("select").change(function(){
      $("#myform").submit();
    });
    $("#myformcrewnum select").change(function(){
      $("#myformcrewnum").submit();
    });
    $(".above-table-search-section .crew_on_table").change(function(){
      val = $('option:selected', this).val();
      $("#myform .crew_on_table").val(val);
      $("#myform").submit();
    });
  });
</script>
{% endblock %}